$icomoon-font-family: "virtual-society-icons" !default;
$icomoon-font-path: "/fonts/vs" !default;

$vs-mobile: "\e92f";
$vs-tablet: "\e930";
$vs-phone: "\e931";
$vs-sunrise: "\e900";
$vs-sun: "\e901";
$vs-moon: "\e902";
$vs-snowflake: "\e906";
$vs-cloud-sunny: "\e907";
$vs-cloud-night: "\e908";
$vs-cloud: "\e90d";
$vs-lightning: "\e90f";
$vs-partially-rain: "\e910";
$vs-rain: "\e911";
$vs-wind: "\e912";
$vs-wind-rain: "\e913";
$vs-snow: "\e915";
$vs-snow-heavy: "\e916";
$vs-cloudy: "\e918";
$vs-thermometer: "\e92a";
$vs-compass: "\e92b";
$vs-celsius: "\e92d";
$vs-fahrenheit: "\e92e";
$vs-key: "\e932";
$vs-check: "\f00c";
$vs-close: "\f00d";
$vs-inbox: "\f01c";
$vs-calendar: "\f073";
$vs-folder: "\f07b";
$vs-folder-open: "\f07c";
$vs-globe: "\f0ac";
$vs-menu: "\f0c9";
$vs-table: "\f0ce";
$vs-caret-right: "\f0da";
$vs-envelope: "\f0e0";
$vs-legal: "\f0e3";
$vs-angle-left: "\f104";
$vs-angle-right: "\f105";
$vs-angle-up: "\f106";
$vs-angle-down: "\f107";
$vs-desktop: "\f108";
$vs-send: "\f1d8";
$vs-identity: "\f2bc";

