// colors algorithmically from logo with
// https://palettegenerator.com/
$color-light:  #009FCD; // aqua
$color-medium: #005F9F; // navy blue
$color-dark:   #040708; // dark blue
$mono-medium:  #96979F;
$mono-light:   #C2C2C6; 
$mono-dark:    #6E737E;
$mono-black:   #000000;
$mono-white:   #FFFFFF;

// topnav theming
$topnav-color: $color-dark;
$topnav-fore-color: $mono-light;
$topnav-hover-color: $mono-light;
$topnav-hover-fore-color: $color-medium;
$topnav-active-color: $color-medium;
$topnav-active-for-color: $mono-light;

// typography theming
$color-font: $mono-black;
$color-h1: $color-dark;
$color-h2: $color-dark;
$color-h3: $color-dark;
$color-h4: $color-dark;
$color-h5: $color-dark;
$color-h6: $color-dark;

$color-warning: orange;
$color-success: green;
$color-error: red;
