################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/virtual-society-urukagina/v16/.suo
/.vs/slnx.sqlite
/.vs/morstead/v16/.suo
