@inherits LayoutComponentBase
    <main class="smain" id="content">
        <div class="container">
            <article>
                <div class="row">
                    <div class="content-background">
                        @Body
                    </div>
                </div>
            </article>
        </div>
    </main>