@inherits LayoutComponentBase
<div class="wrapper">
    <a class="skiplink" href="#content">
        <span class="skiplink__text">Ga direct naar inhoud</span>
    </a>
    <header class="header "
            role="banner">
    </header>
    @Body
</div>
