/* stylelint-disable */
body {
  overflow-x: hidden; }

code {
  border: 1px solid #ccc;
  color: #000080;
  padding: 0.1rem 0.5rem; }

pre > code {
  border: 0;
  color: inherit;
  padding: 0; }

.nowrap,
p code {
  white-space: nowrap; }

.deprecated {
  text-decoration: line-through; }

.hidden {
  height: 1px;
  position: fixed;
  top: -100px;
  width: 1px; }

.debug-container {
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0; }
  .debug-container .container {
    position: relative;
    height: 100%; }

.debug {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }
  .debug input + div {
    border-left: 1px solid red; }
  .debug .guide--center {
    border-left: 1px solid lime;
    bottom: 0;
    left: 50%;
    position: fixed;
    top: 0; }
  .debug > [class*="col-"] {
    border-right: 1px solid red;
    pointer-events: none;
    height: 100%; }
    .debug > [class*="col-"] > div {
      background: rgba(255, 0, 0, 0.2);
      height: 100%;
      width: 100%; }
  .debug input {
    bottom: .5rem;
    left: .5rem;
    position: fixed;
    pointer-events: auto; }
  .debug input:not(:checked) ~ div {
    display: none; }
  .debug .col-lg-dash-list::after,
  .debug .col-md-dash-right::after,
  .debug .col-lg-dash-right::after,
  .debug .col-lg-dash-left::after,
  .debug .col-md-dash-left::after {
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 0 dashed red;
    content: ' '; }
  .debug .col-lg-dash-left::after,
  .debug .col-md-dash-left::after {
    left: 3rem; }
  .debug .col-lg-dash-list::after {
    right: 5rem;
    border-right: 0 dashed red; }
  .debug .col-md-dash-right::after,
  .debug .col-lg-dash-right::after {
    right: 3rem; }
  @media (min-width: 768px) {
    .debug .col-md-dash-right::after,
    .debug .col-md-dash-left::after {
      border-left-width: 1px; } }
  @media (min-width: 992px) {
    .debug .col-md-dash-right::after,
    .debug .col-md-dash-left::after {
      border-left-width: 0; }
    .debug .col-lg-dash-right::after,
    .debug .col-lg-dash-left::after {
      border-left-width: 1px; }
    .debug .col-lg-dash-list::after {
      border-right-width: 1px; } }
  .debug::after {
    position: fixed;
    bottom: .5rem;
    right: .5rem;
    width: 100px;
    text-align: right;
    content: 'xs'; }
    @media (min-width: 544px) {
      .debug::after {
        content: 'sm'; } }
    @media (min-width: 768px) {
      .debug::after {
        content: 'md'; } }
    @media (min-width: 992px) {
      .debug::after {
        content: 'lg'; } }
    @media (min-width: 1200px) {
      .debug::after {
        content: 'xl'; } }
    @media (min-width: 1600px) {
      .debug::after {
        content: 'xxl'; } }

.example {
  position: relative;
  margin: 0 0 20px 0; }
  .example pre {
    margin: 0; }
  .example .row {
    margin: 0;
    margin-top: 1rem; }
  .example .navigation {
    margin-bottom: 0; }
  .example > .tab {
    justify-content: left;
    border-bottom: 1px solid #e5e5e5;
    margin: 0;
    width: 100%; }
    .example > .tab > .tab__tab {
      flex-grow: 0;
      margin: 0 1rem 0 0; }
      .example > .tab > .tab__tab--active {
        bottom: -1px;
        border-bottom: 1px solid #fff; }
      .example > .tab > .tab__tab::before {
        border-bottom: none; }
  .example > .tab__content {
    border: 1px solid #e5e5e5;
    border-top: none;
    padding: 10px;
    width: 100%; }
    .example > .tab__content > .tab__pane {
      padding: 0; }

.example--grey .tab__content {
  background: #ebebeb; }

.example--column .tab__pane--example.tab__pane--active {
  align-items: flex-start;
  display: flex;
  flex-direction: column; }

.hljs {
  margin-top: 0; }

.example__content-background {
  background-color: #01689b; }

.example--transparent .tab__content {
  background: url("/images/transparent.gif");
  background-repeat: repeat; }

.show-grid [class^="col-"] {
  border: 1px solid #cccccc; }

.example--only-code {
  display: none; }

.example .skiplink {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8; }

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold; }

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080; }

.hljs-string,
.hljs-doctag {
  color: #d14; }

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold; }

.hljs-subst {
  font-weight: normal; }

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold; }

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal; }

.hljs-regexp,
.hljs-link {
  color: #009926; }

.hljs-symbol,
.hljs-bullet {
  color: #990073; }

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3; }

.hljs-meta {
  color: #999;
  font-weight: bold; }

.hljs-deletion {
  background: #fdd; }

.hljs-addition {
  background: #dfd; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

.dark-background {
  background-color: #a90061;
  color: white;
  padding: 1rem 3rem; }

.icons-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin-left: 0; }
  .icons-list li {
    align-items: center;
    background: #ebebeb;
    border: 1px solid #cccccc;
    display: flex;
    flex-direction: column;
    height: 147px;
    justify-content: space-between;
    margin: 10px 10px 0 0;
    padding: 40px 5px 0 5px;
    text-align: center;
    width: 147px; }
  .icons-list .icon {
    cursor: pointer;
    font-size: 3rem;
    height: 3rem;
    width: 3rem; }

.icons-list--title {
  font-weight: bold;
  text-align: center;
  width: 147px; }

.example--modal .tab__content {
  min-height: 400px; }
  .example--modal .tab__content .modal {
    margin-top: 49px;
    padding: 2rem;
    position: absolute; }
  .example--modal .tab__content .modal__content {
    position: absolute; }
  @media (min-width: 544px) {
    .example--modal .tab__content .modal__content {
      left: 2rem;
      position: static;
      right: 2rem;
      top: 4rem; } }

.colors-list {
  align-content: stretch;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 -0.5rem 2.4rem -0.5rem; }
  .colors-list li {
    flex-basis: 100%; }
    .colors-list li div {
      margin: 0.5rem;
      padding: 1rem; }
    .colors-list li span {
      display: block; }

@media (min-width: 544px) {
  .colors-list li {
    flex-basis: 33%; } }
