.editor {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.editorError {
    color: red !important;
    background: #f2d9d8;
    cursor: help;
}

.editorErrorGlyph {
    background: red;
    cursor: help;
}
