/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.table {
  border-collapse: collapse;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 20px;
  margin-bottom: 2rem;
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  .table {
    font-size: 1.6rem;
  }
}

@media (min-width: 992px) {
  .table {
    font-size: 1.8rem;
  }
}

.table:not([class*='background--']) {
  background: white;
}

.table tr td,
.table tr th {
  border-top: 1px solid #ebebeb;
}

@media (min-width: 768px) {
  .table tr:first-child td,
  .table tr:first-child th {
    border-top: none;
  }
  .table tr:last-child td,
  .table tr:last-child th {
    border-bottom: 1px solid #ebebeb;
  }
  .table thead tr td,
  .table thead tr th {
    border-bottom: 2px solid #ebebeb;
    border-top: none;
  }
}

.table th {
  font-weight: normal;
  text-align: left;
}

.table th,
.table td {
  padding: 8px;
  padding: 0.8rem;
  vertical-align: top;
}

@media (min-width: 992px) {
  .table th,
  .table td {
    padding: 1rem;
  }
}

.table thead th {
  font-weight: bold;
}

@media (min-width: 768px) {
  .table + h2,
  .table + h3,
  .table + h4,
  .table + p {
    margin-top: 3rem;
  }
}

@media (min-width: 768px) {
  p + .table {
    margin-top: 2rem;
  }
}

.content--wide .table {
  margin-bottom: 0;
}

.content--wide .table tr th:first-child,
.content--wide .table tr td:first-child, .content--wide .table thead th:first-child,
.content--wide .table thead td:first-child {
  padding-left: 20px;
  padding-left: 2rem;
}

.table--hoverable tbody tr:hover {
  background: #f3f3f3;
  cursor: pointer;
}

.table--small-font {
  font-size: 12px;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .table--small-font {
    font-size: 1.4rem;
  }
}

@media (min-width: 992px) {
  .table--small-font {
    font-size: 1.6rem;
  }
}

.table--sortable thead th {
  text-align: left;
}

@media (min-width: 768px) {
  .table--striped thead tr, .table--striped tr {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .table--striped tr:nth-child(2n) {
    background: #f3f3f3;
  }
  .table--striped thead tr {
    background: #e6e6e6;
  }
}

.table__sortindicator {
  color: #005ea5;
}

@media (max-width: 767px) {
  .table--responsive thead {
    display: none;
  }
  .table--responsive tr:not([class*='collapse__']) {
    display: block;
  }
  .table--responsive tr:not([class*='collapse__']) td,
  .table--responsive tr:not([class*='collapse__']) th {
    border-top: none;
  }
  .table--responsive tr:not([class*='collapse__']) td:last-child,
  .table--responsive tr:not([class*='collapse__']) th:last-child {
    border-bottom: 1px solid #ebebeb;
  }
  .table--responsive th {
    font-weight: bold;
  }
  .table--responsive td,
  .table--responsive td:first-child,
  .table--responsive th:first-child,
  .table--responsive tbody th {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    position: relative;
  }
  .table--responsive td::before,
  .table--responsive td:first-child::before,
  .table--responsive th:first-child::before,
  .table--responsive tbody th::before {
    content: attr(data-col);
    display: block;
    font-weight: bold;
    padding-right: 0.8rem;
    width: 50%;
  }
}

tr.row--selected td,
tr.row--selected th {
  border-bottom: 2px solid #ffb612;
  border-bottom: 0.2rem solid #ffb612;
  border-top: 2px solid #ffb612;
  border-top: 0.2rem solid #ffb612;
}

tr.row--selected td:first-child,
tr.row--selected th:first-child {
  border-left: 2px solid #ffb612;
  border-left: 0.2rem solid #ffb612;
}

tr.row--selected td:last-child,
tr.row--selected th:last-child {
  border-right: 2px solid #ffb612;
  border-right: 0.2rem solid #ffb612;
}

tr.row--selected + tr.row--selected {
  border-top: transparent;
}
/*# sourceMappingURL=table.css.map */