
$body-font: 'RijksoverheidSansWebText';
$header-font: $body-font;
$open-sans: 'Open Sans', sans-serif;

$color-succes: green;
$color-warning: orange;
$color-error: red;

$padding: 10px;

// colors created from logo with https://palettegenerator.com/


