@inherits LayoutComponentBase
<main class="smain" id="content">
    <div class="container">
        <article>
            <div class="row">
                <div class="content-background">
                    @Body
                </div>
            </div>
        </article>
    </div>
</main>

@code {
    MatTheme theme = new MatTheme()
    {
        Primary = "#005ea5",
        Secondary = "#005ea5"
    };
}