@font-face {
    font-family: 'RijksoverheidSerifWeb';
    src: url('/fonts/Ro/RijksoverheidSerifWeb-Regular.eot');
    src: url('/fonts/Ro/RijksoverheidSerifWeb-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/Ro/RijksoverheidSerifWeb-Regular.woff2') format('woff2'), url('/fonts/Ro/RijksoverheidSerifWeb-Regular.woff') format('woff'), url('/fonts/Ro/RijksoverheidSerifWeb-Regular.ttf') format('truetype'), url('/fonts/Ro/RijksoverheidSerifWeb-Regular.svg#RijksoverheidSerifWeb-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RijksoverheidSansWebText';
    src: url('/fonts/Ro/RijksoverheidSansWebText-Italic.eot');
    src: url('/fonts/Ro/RijksoverheidSansWebText-Italic.eot?#iefix') format('embedded-opentype'), url('/fonts/Ro/RijksoverheidSansWebText-Italic.woff2') format('woff2'), url('/fonts/Ro/RijksoverheidSansWebText-Italic.woff') format('woff'), url('/fonts/Ro/RijksoverheidSansWebText-Italic.ttf') format('truetype'), url('/fonts/Ro/RijksoverheidSansWebText-Italic.svg#RijksoverheidSansWebText-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'RijksoverheidSerifWeb';
    src: url('/fonts/Ro/RijksoverheidSerifWeb-Italic.eot');
    src: url('/fonts/Ro/RijksoverheidSerifWeb-Italic.eot?#iefix') format('embedded-opentype'), url('/fonts/Ro/RijksoverheidSerifWeb-Italic.woff2') format('woff2'), url('/fonts/Ro/RijksoverheidSerifWeb-Italic.woff') format('woff'), url('/fonts/Ro/RijksoverheidSerifWeb-Italic.ttf') format('truetype'), url('/fonts/Ro/RijksoverheidSerifWeb-Italic.svg#RijksoverheidSerifWeb-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'RijksoverheidSerifWeb';
    src: url('/fonts/Ro/RijksoverheidSerifWeb-Bold.eot');
    src: url('/fonts/Ro/RijksoverheidSerifWeb-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/Ro/RijksoverheidSerifWeb-Bold.woff2') format('woff2'), url('/fonts/Ro/RijksoverheidSerifWeb-Bold.woff') format('woff'), url('/fonts/Ro/RijksoverheidSerifWeb-Bold.ttf') format('truetype'), url('/fonts/Ro/RijksoverheidSerifWeb-Bold.svg#RijksoverheidSerifWeb-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RijksoverheidSansWebText';
    src: url('/fonts/Ro/RijksoverheidSansWebText-Bold.eot');
    src: url('/fonts/Ro/RijksoverheidSansWebText-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/Ro/RijksoverheidSansWebText-Bold.woff2') format('woff2'), url('/fonts/Ro/RijksoverheidSansWebText-Bold.woff') format('woff'), url('/fonts/Ro/RijksoverheidSansWebText-Bold.ttf') format('truetype'), url('/fonts/Ro/RijksoverheidSansWebText-Bold.svg#RijksoverheidSansWebText-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RijksoverheidSansWebText';
    src: url('/fonts/Ro/RijksoverheidSansWebText-Regular.eot');
    src: url('/fonts/Ro/RijksoverheidSansWebText-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/Ro/RijksoverheidSansWebText-Regular.woff2') format('woff2'), url('/fonts/Ro/RijksoverheidSansWebText-Regular.woff') format('woff'), url('/fonts/Ro/RijksoverheidSansWebText-Regular.ttf') format('truetype'), url('/fonts/Ro/RijksoverheidSansWebText-Regular.svg#RijksoverheidSansWebText-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
