@page "/Messages"
@attribute [Authorize]
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Berichten</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Folders</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item active">
                            <a href="#" class="nav-link">
                                <i class="fas fa-inbox"></i> @Gemeente
                                <span class="badge bg-primary float-right">12</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-inbox"></i> Gemeenten
                                <span class="badge bg-primary float-right">12</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-university"></i> Rijksoverheid
                                <span class="badge bg-primary float-right">12</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Labels</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-first-aid text-danger"></i> Zorg
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-briefcase text-info"></i> Werk
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-coins text-warning"></i> Inkomen
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Berichten</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" placeholder="Zoek berichten">
                            <div class="input-group-append">
                                <div class="btn btn-primary">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <div class="mailbox-controls">
                        <!-- Check all button -->
                        <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                            <i class="far fa-square"></i>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm"><i class="far fa-trash-alt"></i></button>
                            <button type="button" class="btn btn-default btn-sm"><i class="fas fa-reply"></i></button>
                            <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i></button>
                        </div>
                        <!-- /.btn-group -->
                        <button type="button" class="btn btn-default btn-sm"><i class="fas fa-sync-alt"></i></button>
                        <div class="float-right">
                            1-50/200
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-left"></i></button>
                                <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-right"></i></button>
                            </div>
                            <!-- /.btn-group -->
                        </div>
                        <!-- /.float-right -->
                    </div>
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="icheck-primary">
                                            <input type="checkbox" value="" id="check1">
                                            <label for="check1"></label>
                                        </div>
                                    </td>
                                    <td class="mailbox-star"><a href="#"><i class="fas fa-coins text-warning"></i></a></td>
                                    <td class="mailbox-name"><a href="read-mail.html">Pieter Janssen</a></td>
                                    <td class="mailbox-subject">
                                        <b>Werken in de Bijstand</b> - Nieuwe berekening geplaatst ter review
                                    </td>
                                    <td class="mailbox-attachment"><i class="fas fa-search"></i></td>
                                    <td class="mailbox-date"><i class="fas fa-clock text-muted"></i> 5 min geleden</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="icheck-primary">
                                            <input type="checkbox" value="" id="check2">
                                            <label for="check2"></label>
                                        </div>
                                    </td>
                                    <td class="mailbox-star"><a href="#"><i class="fas fa-first-aid text-danger"></i></a></td>
                                    <td class="mailbox-name text-muted">Concensus Bot</td>
                                    <td class="mailbox-subject">
                                        <b>Zorgtoeslag</b> - Berekening goedgekeurd via concensus
                                    </td>
                                    <td class="mailbox-attachment"><i class="fas fa-thumbs-up"></i></td>
                                    <td class="mailbox-date"><i class="fas fa-clock text-muted"></i> 28 min geleden</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="icheck-primary">
                                            <input type="checkbox" value="" id="check3">
                                            <label for="check3"></label>
                                        </div>
                                    </td>
                                    <td class="mailbox-star"><a href="#"><i class="fas fa-coins text-warning"></i></a></td>
                                    <td class="mailbox-name text-muted">Kudos Bot</td>
                                    <td class="mailbox-subject">
                                        <b>Hoogte Bijstand</b> - Meer dan 500 burgers werden geholpen met door jouw ingevoerde berekening
                                    </td>
                                    <td class="mailbox-attachment"><i class="fas fa-star"></i></td>
                                    <td class="mailbox-date"><i class="fas fa-clock text-muted"></i> 11 hours ago</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="icheck-primary">
                                            <input type="checkbox" value="" id="check4">
                                            <label for="check4"></label>
                                        </div>
                                    </td>
                                    <td class="mailbox-star"><a href="#"><i class="fas fa-first-aid text-danger"></i></a></td>
                                    <td class="mailbox-name text-muted">Concensus Bot</td>
                                    <td class="mailbox-subject">
                                        Zorgtoeslag - Feedback over jouw berekening is verzonden
                                    </td>
                                    <td class="mailbox-attachment"><i class="far fa-comments text-muted"></i></td>
                                    <td class="mailbox-date"><i class="fas fa-clock text-muted"></i> 15 uur geleden</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="icheck-primary">
                                            <input type="checkbox" value="" id="check5">
                                            <label for="check5"></label>
                                        </div>
                                    </td>
                                    <td class="mailbox-star"><a href="#"><i class="fas fa-first-aid text-danger"></i></a></td>
                                    <td class="mailbox-name text-muted">Concensus Bot</td>
                                    <td class="mailbox-subject">
                                        <b>Zorgtoeslag</b> - Er worden vragen gesteld over jouw berekening
                                    </td>
                                    <td class="mailbox-attachment"><i class="far fa-comments text-muted"></i></td>
                                    <td class="mailbox-date"><i class="far fa-calendar-alt text-muted"></i> Gisteren</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="icheck-primary">
                                            <input type="checkbox" value="" id="check6">
                                            <label for="check6"></label>
                                        </div>
                                    </td>
                                    <td class="mailbox-star"><a href="#"><i class="fas fa-first-aid text-danger"></i></a></td>
                                    <td class="mailbox-name text-muted">Concensus Bot</td>
                                    <td class="mailbox-subject">
                                        <b>Zorgtoeslag</b> - Je berekening is aangeboden ter review
                                    </td>
                                    <td class="mailbox-attachment"><i class="fas fa-search"></i></td>
                                    <td class="mailbox-date"><i class="far fa-calendar-alt text-muted"></i> 2 dagen geleden</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="icheck-primary">
                                            <input type="checkbox" value="" id="check7">
                                            <label for="check7"></label>
                                        </div>
                                    </td>
                                    <td class="mailbox-star"><a href="#"><i class="fas fa-briefcase text-info"></i></a></td>
                                    <td class="mailbox-name"><a href="read-mail.html">Richard Slot</a></td>
                                    <td class="mailbox-subject">
                                        <b>Jeugd Lage-inkomensvoordeel (Jeugd-LIV)</b> - Hulp gevraagd bij het invoeren van deze regeling
                                    </td>
                                    <td class="mailbox-attachment"><i class="fas fa-question-circle"></i></td>
                                    <td class="mailbox-date"><i class="far fa-calendar-alt text-muted"></i> 2 dagen geleden</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="icheck-primary">
                                            <input type="checkbox" value="" id="check8">
                                            <label for="check8"></label>
                                        </div>
                                    </td>
                                    <td class="mailbox-star"><a href="#"></a></td>
                                    <td class="mailbox-name"><a href="read-mail.html">John Doe</a></td>
                                    <td class="mailbox-subject">
                                        Am at dignissim ante. Duis quis tincidunt urna. Lorem ipsum dolor sit amet.
                                    </td>
                                    <td class="mailbox-attachment"></td>
                                    <td class="mailbox-date"><i class="far fa-calendar-alt text-muted"></i> 2 dagen geleden</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="icheck-primary">
                                            <input type="checkbox" value="" id="check9">
                                            <label for="check9"></label>
                                        </div>
                                    </td>
                                    <td class="mailbox-star"><a href="#"></a></td>
                                    <td class="mailbox-name"><a href="read-mail.html">John Doe</a></td>
                                    <td class="mailbox-subject">Am at dignissim ante. Duis quis tincidunt urna. Lorem ipsum dolor sit amet.</td>
                                    <td class="mailbox-attachment"></td>
                                    <td class="mailbox-date"><i class="far fa-calendar-alt text-muted"></i> 2 dagen geleden</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="icheck-primary">
                                            <input type="checkbox" value="" id="check10">
                                            <label for="check10"></label>
                                        </div>
                                    </td>
                                    <td class="mailbox-star"><a href="#"></a></td>
                                    <td class="mailbox-name"><a href="read-mail.html">John Doe</a></td>
                                    <td class="mailbox-subject">Am at dignissim ante. Duis quis tincidunt urna. Lorem ipsum dolor sit amet.</td>
                                    <td class="mailbox-attachment"></td>
                                    <td class="mailbox-date"><i class="far fa-calendar-alt text-muted"></i> 2 dagen geleden</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="icheck-primary">
                                            <input type="checkbox" value="" id="check11">
                                            <label for="check11"></label>
                                        </div>
                                    </td>
                                    <td class="mailbox-star"><a href="#"></a></td>
                                    <td class="mailbox-name"><a href="read-mail.html">John Doe</a></td>
                                    <td class="mailbox-subject">Am at dignissim ante. Duis quis tincidunt urna. Lorem ipsum dolor sit amet.</td>
                                    <td class="mailbox-attachment"></td>
                                    <td class="mailbox-date"><i class="far fa-calendar-alt text-muted"></i> 2 dagen geleden</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="icheck-primary">
                                            <input type="checkbox" value="" id="check12">
                                            <label for="check12"></label>
                                        </div>
                                    </td>
                                    <td class="mailbox-star"><a href="#"></a></td>
                                    <td class="mailbox-name"><a href="read-mail.html">John Doe</a></td>
                                    <td class="mailbox-subject">Am at dignissim ante. Duis quis tincidunt urna. Lorem ipsum dolor sit amet.</td>
                                    <td class="mailbox-attachment"></td>
                                    <td class="mailbox-date"><i class="far fa-calendar-alt text-muted"></i> 2 dagen geleden</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="icheck-primary">
                                            <input type="checkbox" value="" id="check13">
                                            <label for="check13"></label>
                                        </div>
                                    </td>
                                    <td class="mailbox-star"><a href="#"></a></td>
                                    <td class="mailbox-name"><a href="read-mail.html">John Doe</a></td>
                                    <td class="mailbox-subject">Am at dignissim ante. Duis quis tincidunt urna. Lorem ipsum dolor sit amet.</td>
                                    <td class="mailbox-attachment"></td>
                                    <td class="mailbox-date"><i class="far fa-calendar-alt text-muted"></i> 2 dagen geleden</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="icheck-primary">
                                            <input type="checkbox" value="" id="check14">
                                            <label for="check14"></label>
                                        </div>
                                    </td>
                                    <td class="mailbox-star"><a href="#"></a></td>
                                    <td class="mailbox-name"><a href="read-mail.html">John Doe</a></td>
                                    <td class="mailbox-subject">Am at dignissim ante. Duis quis tincidunt urna. Lorem ipsum dolor sit amet.</td>
                                    <td class="mailbox-attachment"></td>
                                    <td class="mailbox-date"><i class="far fa-calendar-alt text-muted"></i> 2 dagen geleden</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="icheck-primary">
                                            <input type="checkbox" value="" id="check15">
                                            <label for="check15"></label>
                                        </div>
                                    </td>
                                    <td class="mailbox-star"><a href="#"></a></td>
                                    <td class="mailbox-name"><a href="read-mail.html">John Doe</a></td>
                                    <td class="mailbox-subject">Am at dignissim ante. Duis quis tincidunt urna. Lorem ipsum dolor sit amet.</td>
                                    <td class="mailbox-attachment"></td>
                                    <td class="mailbox-date"><i class="far fa-calendar-alt text-muted"></i> 2 dagen geleden</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- /.table -->
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer p-0">
                    <div class="mailbox-controls">
                        <!-- Check all button -->
                        <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                            <i class="far fa-square"></i>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm"><i class="far fa-trash-alt"></i></button>
                            <button type="button" class="btn btn-default btn-sm"><i class="fas fa-reply"></i></button>
                            <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i></button>
                        </div>
                        <!-- /.btn-group -->
                        <button type="button" class="btn btn-default btn-sm"><i class="fas fa-sync-alt"></i></button>
                        <div class="float-right">
                            1-50/200
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-left"></i></button>
                                <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-right"></i></button>
                            </div>
                            <!-- /.btn-group -->
                        </div>
                        <!-- /.float-right -->
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

@code {
    string Gemeente = "Rotterdam";
}
