@inherits MenuHoldingPage
@page "/YamlContentEditor"
@attribute [Authorize]
<div id="splitcontainer" class="clear-fix row no-gutters splitter-content-editor">
    <div id="left-half_contenteditor" class="left-half_contenteditor">
        <div class="left-half_header sm-12">
            @if (ShowHeaderInfo)
            {
                foreach (var info in HeaderInfo)
                {
                    if (!string.IsNullOrWhiteSpace(info.Value))
                    {
                        <div class="col-sm-3">@info.Key: <strong>@info.Value</strong></div>
                    }
                }
            }
            else
            {
                <div class="col-sm-12">&nbsp;</div>
            }
        </div>
        <div class="left-half_bottom">
            <YamlEditor @ref="ValidationController.YamlEditor" Id="monacoEditor" OnKeyUp="@(ValidationController.StartSubmitCountdown)" CssClass="editor" />
        </div>
    </div>
    <div id="right-half_contenteditor" class="right-half_contenteditor">
        <div class="submit">
            Bestanden
            <Table Grid="YamFileInfoGrid" />
        </div>
    </div>
</div>
<Modal Id="newYamlModal" Cancel="Annuleren" Ok="Ok" OnOk="ValidateNewYaml" Title="Selecteer het type Yaml document voor het nieuwe document.">
    <YamlTypeSelector @ref="_yamlTypeSelector" Name="ValidateRuleType" />
</Modal>
<Modal Id="saveAsYamlModal" Cancel="Annuleren" Ok="Opslaan" OnOk="SaveAsYaml" Title="Bestand opslaan">
    Vul de naam in van het document
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Naam</span>
        </div>
        <input type="text" class="form-control" aria-label="Naam" aria-describedby="Naam" @bind="Name">
    </div>
</Modal>

