@inherits MenuHoldingPage
@page "/YamlContentEditor"
@attribute [Authorize]
<div id="splitcontainer" class="clear-fix row no-gutters splitter-content-editor">
    <div id="left-half_contenteditor" class="left-half_contenteditor splitter-half_wrapper">
        <div class="left-half_header sm-12">
        </div>
        <div class="left-half_bottom">
            <YamlEditor @ref="ValidationController.YamlEditor" Id="monacoEditor" OnKeyUp="@(ValidationController.StartSubmitCountdown)" CssClass="editor" />
        </div>
    </div>
    <div id="right-half_contenteditor" class="right-half_contenteditor splitter-half_wrapper">
        <div class="submit">
            <h4>Opgeslagen Yamls</h4>
            <Table Grid="YamFileInfoGrid" />
        </div>
    </div>
</div>


