@page "/"
@namespace Vs.VoorzieningenEnRegelingen.BurgerPortaal.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vs.VoorzieningenEnRegelingen.BurgerPortaal</title>
    <base href="~/" />

    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/blazor.css" />
    <!-- material -->
    <link rel="stylesheet" href="_content/MatBlazor/dist/matBlazor.css" />
    @*https://material.io/resources/color/#!/?view.left=1&view.right=1&primary.color=005ea5&secondary.color=f3f3f3*@
    <script src="_content/BlazorInputFile/inputfile.js"></script>
    <script>
        System.config({
            packages: {
                '/': {
                    defaultExtension: 'js'
                }
            }
        });
    </script>
    <!-- material -->
    <script src="_content/MatBlazor/dist/matBlazor.js"></script>
</head>
<body class="theme--large-padding">
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
