@page "/UrlBuilder/"
<SpacingWrapper>
    <CascadingValue Value="@YamlContent">
        <Text />
    </CascadingValue>
    <CascadingValue Value="@YamlLogic">
        <Text />
    </CascadingValue>
    <button class="btn" @onclick="Submit">Verstuur</button>
</SpacingWrapper>