@page "/UrlBuilder/"
<SpacingWrapper>
    <EditForm Model="@YamlLogic">
        <CascadingValue Value="@YamlLogic">
            <Text />
        </CascadingValue>
    </EditForm>
    <EditForm Model="@YamlContent">
        <CascadingValue Value="@YamlContent">
            <Text />
        </CascadingValue>
    </EditForm>
    <button class="btn" @onclick="Submit">Verstuur</button>
</SpacingWrapper>