@page "/UrlBuilder/"
    <SpacingWrapper>
        <CascadingValue Value="@YamlLogic">
            <Text />
        </CascadingValue>
        <CascadingValue Value="@YamlContent">
            <Text />
        </CascadingValue>
        <button class="btn" @onclick="Submit">Verstuur</button>
    </SpacingWrapper>