.left-half_contenteditor {
    background-color: white;
    float: left;
    display: block;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 15px 0px;
}

    .left-half_contenteditor .left-half_header {
        height: auto;
        display: flex;
        flex-direction: row;
        padding: 7.5px 0px 7.5px 75.5px;
    }

        .left-half_contenteditor .left-half_header > div:nth-child(2) {
            width: auto;
            flex: 1;
        }

    .left-half_contenteditor .left-half_bottom {
        flex: 1;
    }

.right-half_contenteditor {
    background-color: #f1f1f1;
    float: left;
    height: 100%;
    overflow: auto
}

.wrapperFull {
    padding: 0;
    margin: 0;
}

.radioGroupWrapper {
    padding: 0px 0px 10px 15px;
}
