@inherits LayoutComponentBase
<NldsSkiplink>Ga direct naar inhoud</NldsSkiplink>
<main id="content" class="skiplink-target main" tabindex="-1">
    <div class="container">
        <article>
            <div class="row">
                <div class="content-background">
                    <div class="content">
                        @Body
                    </div>
                </div>
            </div>
        </article>
    </div>
</main>