/*
    General findings
    <meta and <link tags are not closed with a /> (the / is missing)
*/

.collapse__details .list--timeline h2:first-of-type,
.collapse__details .list--timeline h3:first-of-type,
.collapse__details .list--timeline h4:first-of-type,
.collapse__details .list--timeline h5:first-of-type {
    margin-top: 0px;
}

.header {
    height: 60px;
}

.header-logo {
    text-align: left;
}

    .header-logo a {
        margin-left: 40px;
        line-height: 70px;
    }

        .header-logo a:before {
            background: transparent url("https://regelingen.azurewebsites.net/images/logo.svg") no-repeat center left;
            left: -30px;
            padding-left: 30px;
        }

        .header-logo a:after {
            background-image: none;
        }
