.editor {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.redDecoration {
    color: red !important;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
    font-style: oblique;
}