html, body, app {
    height: 100%;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
    margin: 10px;
    padding-bottom: 5px;
    clear: both;
}

section {
    display: flex;
    flex-flow: column;
    /*align-items: stretch;*/
    height: 100%;
}

div.header {
    flex: 0 1 auto;
}

div.content {
    flex: 1 1 auto;
    overflow: auto;
}

div.submit {
    flex: 0 1 auto;
    /* fixes the footer: min-height: 60px; */
}