  <!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <img src="images/logo.svg"
             alt="Virtual Society"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Virtual Society</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <User />
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar nav-sidebar nav-flat flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <AccessControl />
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
