<MatH1>@((MarkupString)Title)</MatH1>
<MatH2>@((MarkupString)SubTitle)</MatH2>

<MatH3>
    <div class="calc_heading_number">
        <Badge Number=@Number />
    </div>
    <div class="calc_heading_question">
        @((MarkupString)Subject)
    </div>
</MatH3>
