<h1><strong>@((MarkupString)Title)</strong></h1>
<h2>@((MarkupString)SubTitle)</h2>

<h3>
    @if (Number > 0)
    {
        <Badge Number=@Number GoUp="5" />
    }
    <strong>
        @((MarkupString)Subject)
    </strong>
</h3>
