<h1>Counter</h1>

<p>Current count: @currentCrount</p>

<button class="btn btn-primary" @onclick="IncrementCrount" @onclick:preventDefault>Click me</button>
<a href="#" @onclick="IncrementCrount" @onclick:preventDefault>Click me</a>