<AuthorizeView>
    <Authorized>
        <li class="nav-item">
            <a href="/Logout" class="nav-link">
                <i class="nav-icon fas fa-sign-out-alt"></i>
                <p>
                    Logout
                </p>
            </a>
        </li>
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="Administrator">
    <Authorized>
        <li class="nav-item">
            <a href="/Dashboard" class="nav-link">
                <i class="nav-icon fas fa-chart-line"></i>
                <p>
                    Dashboard
                </p>
            </a>
        </li>
    </Authorized>
</AuthorizeView>
<AuthorizeView>
    <Authorized>
        <li class="nav-item">
            <NavLink href="/Parse" class="nav-link">
                <i class="nav-icon fa fa-check"></i>
                <p>
                    Parser
                    <!-- <span class="badge badge-info right">2</span> -->
                </p>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/AceEditor" class="nav-link">
                <i class="nav-icon far fa-edit"></i>
                <p>
                    Ace Editor
                    <!-- <span class="badge badge-info right">2</span> -->
                </p>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/Files" class="nav-link">
                <i class="nav-icon far fa-folder"></i>
                <p>
                    Bestanden
                    <!-- <span class="badge badge-info right">2</span> -->
                </p>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/Ontology" class="nav-link">
                <i class="nav-icon fab fa-connectdevelop"></i>
                <p>
                    Ontologie
                    <!-- <span class="badge badge-info right">2</span> -->
                </p>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/Bpmn" class="nav-link">
                <i class="nav-icon  fas fa-project-diagram"></i>
                <p>
                    BPMN
                    <!-- <span class="badge badge-info right">2</span> -->
                </p>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/SplitterExample" class="nav-link">
                <i class="nav-icon  fas fa-columns"></i>
                <p>
                    Split Example
                    <!-- <span class="badge badge-info right">2</span> -->
                </p>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="FormContentEditor" class="nav-link">
                <i class="nav-icon  fas fa-columns"></i>
                <p>Content Editor</p>
            </NavLink>
        </li>
    </Authorized>
    <NotAuthorized>
        <li class="nav-item">
            <a href="/Login?redirectUri=/" class="nav-link">
                <i class="nav-icon fas fa-fingerprint"></i>
                <p>
                    Login
                </p>
            </a>
        </li>
    </NotAuthorized>
</AuthorizeView>