@page "/"
<section>
    <div class="loader">
        <p>
            Laad de code code vanuit een url of plak deze direct in de editor.
        </p>
        <p>
            <MatTextField @bind-Value="Url" Label="Url" />
            <MatButton Raised="true" @onclick="LoadUrl">Laden</MatButton>
        </p>
    </div>
    <div class="content">
        <MonacoEditor @ref="_editor" Id="id" ConstructionOptions="EditorConstructionOptions" CssClass="editor" />
    </div>
    <div class="submit">
        Here will be the submit functionality
    </div>
</section>