@page "/"
@namespace Vs.VoorzieningenEnRegelingen.Site.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Virtual Society | Urukagina</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- WebVOWL -->
    <link rel="stylesheet" type="text/css" href="plugins/webvowl/css/webvowl.css" />
    <link rel="stylesheet" type="text/css" href="plugins/webvowl/css/webvowl.app.css" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="plugins/datatables-bs4/css/dataTables.bootstrap4.css">
    <!-- BPMN -->
    <link rel="stylesheet" href="https://unpkg.com/bpmn-js@6.2.0/dist/assets/diagram-js.css">
    <link rel="stylesheet" href="https://unpkg.com/bpmn-js@6.2.0/dist/assets/bpmn-font/css/bpmn.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/adminlte.min.css">
    <link rel="stylesheet" href="css/blazor.css" />
</head>
<body class="hold-transition sidebar-mini layout-fixed text-sm">
    <!-- Site wrapper -->
    <div class="wrapper">
        <app>
            <component type="typeof(App)" render-mode="ServerPrerendered" />
        </app>
    </div>
    <!-- ./wrapper -->
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>


    <script src="_framework/blazor.server.js"></script>
    <script src="~/js/ace/ace.js"></script>
    <script src="~/js/ace.interop.js"></script>
    <script src="~/js/dataTable.interop.js"></script>
    <!-- jQuery -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- DataTables -->
    <script src="plugins/datatables/jquery.dataTables.js"></script>
    <script src="plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <!-- ChartJS -->
    <script src="plugins/chart.js/Chart.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="dist/js/demo.js"></script>
    <!-- WebVOWL -->
    <script src="plugins/webvowl/js/d3.min.js"></script>
    <script src="plugins/webvowl/js/webvowl.js"></script>
    <script src="plugins/webvowl/js/webvowl.app.js"></script>
    <!-- BPMN -->
    <!-- modeler distro -->
    <script src="~/js/bpmn.interop.js"></script>
    <script src="https://unpkg.com/bpmn-js@6.2.0/dist/bpmn-modeler.development.js"></script>
    <!-- div element splitter my mouse dragging -->
    <script src="~/plugins/split/split.min.js"></script>
</body>
</html>
