@page "/AceEditor"
@using Vs.Rules.Core
@attribute [Authorize]
@inject IJSRuntime JSRuntime;
<div id="editor" style="height: 100vh;">
@yaml
</div>
@code {
    private string yaml = YamlTestFileLoader.Load(@"YamlScripts/Rijksoverheid/Zorgtoeslag.yaml");

    private ParseResult result = new ParseResult();

    private void HandleValidSubmit()
    {
        //TODO use IRoutingController
        YamlScriptController c = new YamlScriptController(null);
        result = c.Parse(yaml);
        Console.WriteLine("OnValidSubmit");
    }

    protected async override void OnAfterRender(bool firstRender)
    {
        // in js/ace.interop.js
        await JSRuntime.InvokeAsync<object>("createEditor", new object[] { DotNetObjectReference.Create(this) });
    }

    [JSInvokable]
    public Task OnChange(dynamic delta)
    {
        var message = delta;
        return Task.FromResult(message);
    }
}