@page "/Files"
@attribute [Authorize]
@inject IJSRuntime JSRuntime;
    <!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">DataTable (YAML Stuurinformatie Directory) with minimal features & hover style</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Onderwerp</th>
                                <th>Organisatie</th>
                                <th>Type</th>
                                <th>Domein</th>
                                <th>Versie</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Zorgtoeslag</td>
                                <td>Belastingdienst</td>
                                <td>Toeslagen</td>
                                <td>Zorg</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>Zorgtoeslag</td>
                                <td>Belastingdienst</td>
                                <td>Toeslagen</td>
                                <td>Zorg</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>Zorgtoeslag</td>
                                <td>Belastingdienst</td>
                                <td>Toeslagen</td>
                                <td>Zorg</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>Zorgtoeslag</td>
                                <td>Belastingdienst</td>
                                <td>Toeslagen</td>
                                <td>Zorg</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>Zorgtoeslag</td>
                                <td>Belastingdienst</td>
                                <td>Toeslagen</td>
                                <td>Zorg</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>Zorgtoeslag</td>
                                <td>Belastingdienst</td>
                                <td>Toeslagen</td>
                                <td>Zorg</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>Zorgtoeslag</td>
                                <td>Belastingdienst</td>
                                <td>Toeslagen</td>
                                <td>Zorg</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>Zorgtoeslag</td>
                                <td>Belastingdienst</td>
                                <td>Toeslagen</td>
                                <td>Zorg</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>Zorgtoeslag</td>
                                <td>Belastingdienst</td>
                                <td>Toeslagen</td>
                                <td>Zorg</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>Zorgtoeslag</td>
                                <td>Belastingdienst</td>
                                <td>Toeslagen</td>
                                <td>Zorg</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>Zorgtoeslag</td>
                                <td>Belastingdienst</td>
                                <td>Toeslagen</td>
                                <td>Zorg</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>Zorgtoeslag</td>
                                <td>Belastingdienst</td>
                                <td>Toeslagen</td>
                                <td>Zorg</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>Zorgtoeslag</td>
                                <td>Belastingdienst</td>
                                <td>Toeslagen</td>
                                <td>Zorg</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>Zorgtoeslag</td>
                                <td>Belastingdienst</td>
                                <td>Toeslagen</td>
                                <td>Zorg</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>Zorgtoeslag</td>
                                <td>Belastingdienst</td>
                                <td>Toeslagen</td>
                                <td>Zorg</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>Zorgtoeslag</td>
                                <td>Belastingdienst</td>
                                <td>Toeslagen</td>
                                <td>Zorg</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>Zorgtoeslag</td>
                                <td>Belastingdienst</td>
                                <td>Toeslagen</td>
                                <td>Zorg</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>Zorgtoeslag</td>
                                <td>Belastingdienst</td>
                                <td>Toeslagen</td>
                                <td>Zorg</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>Zorgtoeslag</td>
                                <td>Belastingdienst</td>
                                <td>Toeslagen</td>
                                <td>Zorg</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>Zorgtoeslag</td>
                                <td>Belastingdienst</td>
                                <td>Toeslagen</td>
                                <td>Zorg</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>Zorgtoeslag</td>
                                <td>Belastingdienst</td>
                                <td>Toeslagen</td>
                                <td>Zorg</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>Zorgtoeslag</td>
                                <td>Belastingdienst</td>
                                <td>Toeslagen</td>
                                <td>Zorg</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>Zorgtoeslag</td>
                                <td>Belastingdienst</td>
                                <td>Toeslagen</td>
                                <td>Zorg</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>Zorgtoeslag</td>
                                <td>Belastingdienst</td>
                                <td>Toeslagen</td>
                                <td>Zorg</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>Zorgtoeslag</td>
                                <td>Belastingdienst</td>
                                <td>Toeslagen</td>
                                <td>Zorg</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>Zorgtoeslag</td>
                                <td>Belastingdienst</td>
                                <td>Toeslagen</td>
                                <td>Zorg</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>Zorgtoeslag</td>
                                <td>Belastingdienst</td>
                                <td>Toeslagen</td>
                                <td>Zorg</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>Zorgtoeslag</td>
                                <td>Belastingdienst</td>
                                <td>Toeslagen</td>
                                <td>Zorg</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>Zorgtoeslag</td>
                                <td>Belastingdienst</td>
                                <td>Toeslagen</td>
                                <td>Zorg</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>Zorgtoeslag</td>
                                <td>Belastingdienst</td>
                                <td>Toeslagen</td>
                                <td>Zorg</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>Zorgtoeslag</td>
                                <td>Belastingdienst</td>
                                <td>Toeslagen</td>
                                <td>Zorg</td>
                                <td>1.0</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Onderwerp</th>
                                <th>Organisatie</th>
                                <th>Type</th>
                                <th>Domein</th>
                                <th>Versie</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>
@code
{
    protected async override void OnAfterRender(bool firstRender)
    {
        // in js/ace.interop.js
        await JSRuntime.InvokeAsync<object>("dataTable",new []{"#example1"});
    }
}
