@page "/"
@using System.Security.Claims

@attribute [Authorize]
<h1>Urukagina Rule Engine</h1>

Layout tests, site is nog niet functioneel. zie project op: <a href="https://github.com/sjefvanleeuwen/virtual-society-urukagina">Github</a>
@code {



}