@page "/Parse"
@using Vs.Rules.Core
@attribute [Authorize]
@inject IJSRuntime JSRuntime
<h1>Parse</h1>

<EditForm Model="@yaml" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <textarea rows="20" cols="80"
              @bind-value="yaml"
              @bind-value:event="oninput" />

    <br />
    <button type="submit">Parse YAML</button>
</EditForm>

<h2>Parse Result</h2>

<p>Message: @result.Message</p>
<p>ExpressionTree (debug): </p>
<pre style="font-size:8px">   
    @result.ExpressionTree
</pre>
@code {
    private string yaml = YamlTestFileLoader.Load(@"YamlScripts/Rijksoverheid/Zorgtoeslag.yaml");

    private ParseResult result = new ParseResult();

    private void HandleValidSubmit()
    {
        //TODO use IRoutingController
        YamlScriptController c = new YamlScriptController(null);
        result = c.Parse(yaml);
        Console.WriteLine("OnValidSubmit");
    }
}