@{ 
    var counter = 0;
}
<div class="box">
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    @foreach (var columnName in ColumnNames)
                    {
                        <th scope="col">@columnName</th>
                    }
                </tr>
            </thead>
            <tbody class="table-hover">

                @foreach (var row in Grid.Rows)
                {
                    counter++;
                    <tr @key="@((row.DisplayItems?.FirstOrDefault(d => d.Name == "Id")?.Value) ?? string.Empty)">
                        @foreach (var columnName in ColumnNames)
                        {
                            <td>@(row.GetValueFor(columnName))</td>
                        }
                        @foreach (var tableAction in row.TableActions)
                        {
                            <td><a href="#" @onclick="tableAction.Action"><i class="fa @tableAction.IconName pr-xl-2 pr-md-0 pr-2"></i></a></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>