<div style="background-color: #eee">
Background color:
<div style="width:128px;height:128px" class="{{background_color}}">
</div>

Foreground color:
<p class="{{color}} click=''{{onclick}}">Hello World!</p>
</div>