@page "/"
@namespace Vs.VoorzieningenEnRegelingen.BurgerSite.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vs.VoorzieningenEnRegelingen.BurgerSite</title>
    <base href="~/" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="icon" href="~/uno/components/favicon/ro-favicon-wit-0xffffff.png" />
    <link rel="stylesheet" href="~/uno/core/base.css" />
    <link rel="stylesheet" href="~/uno/components/collapse/collapse.css" />
    <link rel="stylesheet" href="~/uno/components/header/header.css" />
    <link rel="stylesheet" href="~/uno/components/lists/lists.css" />
    <link rel="stylesheet" href="~/uno/components/list/list-timeline.css" />
    <link rel="stylesheet" href="~/uno/components/label/label.css" />
    <link rel="stylesheet" href="~/uno/components/label/badge.css" />
    <link rel="stylesheet" href="~/uno/components/button/button.css">
    <link rel="stylesheet" href="~/uno/components/form/form.css">
    <link rel="stylesheet" href="~/uno/components/form/input.css">
    <link rel="stylesheet" href="~/uno/components/form/file.css">
    <link rel="stylesheet" href="~/uno/components/form/checkbox.css">
    <link rel="stylesheet" href="~/uno/components/form/radio.css">
    <!--
    <link rel="stylesheet" href="~/uno/core/grid.css">
    <link rel="stylesheet" href="~/uno/components/footer/footer.css">
    <link rel="stylesheet" href="~/uno/components/navigation/navigation.css">
    <link rel="stylesheet" href="~/uno/components/navigation/breadcrumbs.css">
    <link rel="stylesheet" href="~/uno/components/navigation/backlink.css">
    <link rel="stylesheet" href="~/uno/components/navigation/sidenav.css">
    <link rel="stylesheet" href="~/uno/components/skiplink/skiplink.css">
    <link rel="stylesheet" href="~/uno/components/tabs/tabs.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/uno/components/card/card.css">
    <link rel="stylesheet" href="~/uno/components/form/filter.css">

    <link rel="stylesheet" href="~/uno/components/hint/hint.css">
    <link rel="stylesheet" href="~/uno/components/list/definition-list.css">
    <link rel="stylesheet" href="~/uno/components/list/list-card.css">
    <link rel="stylesheet" href="~/uno/components/list/list-grid.css">
    <link rel="stylesheet" href="~/uno/components/list/list-files.css">
    <link rel="stylesheet" href="~/uno/components/list/list-notification.css">
    <link rel="stylesheet" href="~/uno/components/list/list-subject.css">
    <link rel="stylesheet" href="~/uno/components/list/list-search.css">
    <link rel="stylesheet" href="~/uno/components/list/list-filter.css">
    <link rel="stylesheet" href="~/uno/components/meta/meta.css">
    <link rel="stylesheet" href="~/uno/components/navigation/inpage.css">
    <link rel="stylesheet" href="~/uno/components/notification/notification.css">
    <link rel="stylesheet" href="~/uno/components/pagination/pagination.css">
    <link rel="stylesheet" href="~/uno/components/quote/quote.css">
    <link rel="stylesheet" href="~/uno/components/section/edit-section.css">
    <link rel="stylesheet" href="~/uno/components/section/inner-section.css">
    <link rel="stylesheet" href="~/uno/components/table/table.css">
        -->

    <link rel="stylesheet" href="~/css/nl_design_overrides.css" />
    <script src="~/uno/vendor/js/Promise.min.js"></script>
    <script src="~/uno/vendor/js/system.js"></script>
    <script>
        System.config({
            packages: {
                '/': {
                    defaultExtension: 'js'
                }
            }
        });
    </script>
    <!-- For Blazor Error Messages -->
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body class="theme--large-padding">
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="~/js/highlight.pack.js"></script>
    <script src="~/js/examples.js"></script>
    <script src="~/js/debug.js"></script>

    <script>
        System.import('uno/components/collapse/collapse.js').then(function (module) {
            // Select all collapsible elements on the page
            var collapses = document.querySelectorAll('[x-uno-collapse]');
            // Initialize all collapses
            for (var i = 0; i < collapses.length; i++) {
                new module.Collapse(collapses.item(i));
            }
        });
    </script>
</body>
</html>
