@page "/proefberekening"
<!--Header-->
<header class="header" role="banner">
    <div class="header-logo">
        <a href="/" title="Logo Virtual Society">
            Virtual Society
            <span class="screenreader-only">naar de homepage</span>
        </a>
    </div>
</header>

<TitleBar Title="Bereken uw zorgtoeslag" />

<Collapsable Name="Timeline">
    <Title>
        <Badge Number=3 />Waar bent u woonachtig?
    </Title>
    <CollapsableContent>
        <Timeline IndicateEnds="true" Items="_timelineItems" />
    </CollapsableContent>
</Collapsable>

<Form>

    <FormElement Name="nameText" Label="Text"
                 Type=FormElementType.Text
                 Value="TestValue"
                 Size=FormElementSize.Large
                 TagText="optioneel verplicht"
                 HintText="Bijvoorbeeld Frank Masmeijer"
                 IsValid="false"
                 IsRequired="true"
                 ErrorText="U heeft het veld Naam beheerder nog niet ingevuld" />

    <FormElement Name="nameNumber" Label="Number"
                 Type=FormElementType.Number
                 Value="123"
                 Size=FormElementSize.Medium
                 TagText="optioneel verplicht"
                 HintText="Bijvoorbeeld Frank Govers"
                 IsValid="false"
                 IsRequired="true"
                 ErrorText="U heeft het veld Naam beheerder nog niet ingevuld" />

    <FormElement Name="nameDisabled" Label="Text"
                 Type=FormElementType.Text
                 Value="disabled"
                 Size=FormElementSize.Large
                 TagText="optioneel verplicht"
                 HintText="Bijvoorbeeld Frank Rijkaard"
                 IsValid="false"
                 IsDisabled="true"
                 ErrorText="U heeft het veld Naam beheerder nog niet ingevuld" />

    <FormElement Name="nameEmail" Label="Email"
                 Type=FormElementType.Email
                 Value="test@test.nl"
                 Size=FormElementSize.Large
                 TagText="optioneel verplicht"
                 HintText="Bijvoorbeeld Frank de Boer"
                 IsValid="false"
                 ErrorText="U heeft het veld Naam beheerder nog niet ingevuld" />

    <FormElement Name="nameZoekIcon" Label="ZoekIcon"
                 Type=FormElementType.Search
                 Value="zoek1"
                 Size=FormElementSize.Large
                 ButtonIcon="icon-magnifier"
                 ButtonText="Zoeken"
                 TagText="optioneel verplicht"
                 HintText="Bijvoorbeeld Frank Lammers" />

    <FormElement Name="nameZoekText" Label="ZoekText"
                 Type=FormElementType.Search
                 Value="zoek2"
                 Size=FormElementSize.Large
                 ButtonText="Zoeken"
                 TagText="optioneel verplicht"
                 HintText="Bijvoorbeeld Frank Visser"
                 IsValid="false"
                 ErrorText="U heeft het veld Naam beheerder nog niet ingevuld" />

    <FormElement Name="nameDropdown" Label="DropDown"
                 Type=FormElementType.Select
                 Value="2"
                 Size=FormElementSize.Large
                 Options="_selectOptions"
                 TagText="optioneel verplicht"
                 HintText="Bijvoorbeeld Frank Du Mosch"
                 IsValid="false"
                 ErrorText="U heeft het veld Naam beheerder nog niet ingevuld" />

    <FormElement Name="nameDate" Label="Date"
                 Labels=@_dateLabels
                 Type=FormElementType.Date
                 Values=@_dateValues
                 TagText="optioneel verplicht"
                 HintText="Bijvoorbeeld Anne Frank"
                 IsValid="false"
                 IsRequired="true"
                 ErrorText="U heeft het veld Naam beheerder nog niet ingevuld" />

    <FormElement Name="nameAdres" Label="Adres"
                 Labels=@_adresLabels
                 Type=FormElementType.Adress
                 Values=@_adresValues
                 TagText="optioneel verplicht"
                 HintText="Bijvoorbeeld Frank en Vrij"
                 IsRequired="true"
                 ErrorText="U heeft het veld Naam beheerder nog niet ingevuld" />

    <FormElement Name="nameTextarea" Label="Textarea"
                 Type=FormElementType.TextArea
                 Value="Dit is een test"
                 Size=FormElementSize.ExtraLarge
                 IsRequired="true"
                 ErrorText="U heeft het veld Naam beheerder nog niet ingevuld" />

    <ButtonSubmit Text="Verder">
        &nbsp;&nbsp;of naar de <a href="#">vorige stap</a>
    </ButtonSubmit>

    <FormElement Name="radio" Label="Radio"
                 Type=FormElementType.Radio
                 Value="2"
                 Size=FormElementSize.Medium
                 Options="_selectOptions"
                 TagText="optioneel verplicht"
                 HintText="Bijvoorbeeld James Franko"
                 IsValid="false"
                 IsRequired="true"
                 ErrorText="U heeft het veld Naam beheerder nog niet ingevuld" />

    <FormElement Name="radioHorzontal" Label="Woont u in Nederland?"
                 Type=FormElementType.Radio
                 Value="2"
                 Options="_jaNeeOptions"
                 TagText="optioneel verplicht"
                 HintText="Bijvoorbeeld Dave Franko"
                 IsValid="false"
                 IsRequired="true"
                 ErrorText="U heeft het veld Naam beheerder nog niet ingevuld" />

    <FormElement Name="selectedoptions" Label="NoemTweeNummers"
                 Type=FormElementType.Checkbox
                 Values=@(new List<string> { "2", "99"})
                 Options="_selectOptions"
                 TagText="optioneel verplicht"
                 HintText="Bijvoorbeeld Frankfurt"
                 IsValid="false"
                 IsRequired="true"
                 ErrorText="U heeft het veld Naam beheerder nog niet ingevuld" />

    <!--Navigation-->
    <!--Type 1-->
    <!---->
    <div class="prev-next">
        <a href="#fakelink" onclick="return false;" class="prev-next__prev">
            <span class="prev-next__meta">VORIGE</span>
            <span class="prev-next__text">1. Wat moet je doen</span>
        </a>
        <a href="#fakelink" onclick="return false;" class="prev-next__next">
            <span class="prev-next__meta">VOLGENDE</span>
            <span class="prev-next__text">3. Hoe het werkt</span>
        </a>
    </div>
    <!--Simple TYpe-->
    <nav>
        <ul class="pagination pagination--simple" title="zoekresultaten">
            <li class="pagination__item pagination__item--previous"><a href="#" class="pagination__link"><span>Vorige <span class="screenreader-only">pagina</span></span></a></li>
            <li class="pagination__item pagination__item--next"><a href="#" class="pagination__link"><span>Volgende <span class="screenreader-only">pagina</span></span></a></li>
        </ul>
    </nav>
    <!--Preferred type-->
    <nav aria-label="pagination">
        <ul class="pagination pagination--dots">
            <li class="pagination__item pagination__item--previous"><a href="#" class="pagination__link"><span class="pagination__link--previous">Vorige</span><span class="screenreader-only">pagina</span></a></li>
            <li class="pagination__item pagination__item--next"><a href="#" class="pagination__link"><span class="pagination__link--previous">Volgende</span><span class="screenreader-only">pagina</span></a></li>
        </ul>
    </nav>
    <!--Button Type-->
    <button class="btn btn--primary"><span class="btn__content">Annuleren</span></button>
    <!--Alignment klopt niet wanneer het niet met tekst begint-->
    <button class="btn btn--primary"><span class="btn__content">&nbsp<i class="btn__icon icon icon-arr-backward" title="" role=""></i> Vorige</span></button>
    <button class="btn btn--primary"><span class="btn__content">Volgende <i class="btn__icon icon icon-arr-forward" title="" role=""></i></span></button>
</Form>
