@page "/"


<nav class="top-nav" id="docs-nav">
    <div class="container">
        <div class="top-nav__block top-nav-autoresize">
            <ul class="nav">
                <li class="nav__item">
                    <a href="/" title="Home" class="nav__link  ">
                        <i class="icon icon-home" role="presentation"></i>
                        <span>NL Design System</span>
                    </a>
                </li>

                <li class="nav__item"><a class="nav__link " href="/aan-de-slag/index.html">Aan de slag</a></li>

                <li class="nav__item"><a class="nav__link " href="/core/index.html">Basis</a></li>

                <li class="nav__item"><a class="nav__link " href="/componenten/index.html">Componenten</a></li>

                <li class="nav__item"><a class="nav__link nav__link--active" href="/templates/index.html">Voorbeelden</a></li>

            </ul>
        </div>
    </div>

</nav>


<main class="skiplink-target main" id="content" tabindex="-1">


    <div class="container">
        <section class="row">
            <div class="col-xs-12 col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                <div class="content">


                    <header class="content__header">

                        <h1 class="content__header-title">Componentenpagina</h1>









                    </header>
                </div>
            </div>
        </section>

        <div class="row theme--large-padding">
            <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                <div class="content-background">
                    <div class="content">

                        <h1>Terugbetalings&shy;regels</h1>

                        <p>Niet iedere terugbetaler lost volgens dezelfde regels af.</p>

                        <h2>Welke regels gelden voor u?</h2>
                        <p>Er zijn 3 verschillende soorten terugbetalingsregels:</p>

                        <h2>Vragen voor andere organisaties</h2>
                        <p>Soms moet u voor uw vraag bij DUO zijn, soms bij een andere organisatie. DUO kan geen vragen beantwoorden over uw DigiD, OV-chipkaart of zorgtoeslag. Ook voor inburgeren moet u naar een andere website.</p>


                        <!--grouplinklist-->
                        <ul class="list list--subjects columns">
                            <li class="list__item">
                                <a href="https://www.digid.nl/vraag-en-antwoord/" target="_self" class="list__link" rel="external">DigiD</a>
                                <span class="list__description">
                                    <p>Wachtwoord, activeringscode</p>
                                </span>


                            </li>
                            <li class="list__item">
                                <a href="https://www.ov-chipkaart.nl/service-en-contact/vragen-en-antwoorden.htm" target="_self" class="list__link" rel="external">OV-chipkaart</a>
                                <span class="list__description">
                                    <p>Opladen, verloren, gestolen, defect</p>
                                </span>


                            </li>
                            <li class="list__item">
                                <a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/belastingdienst/prive/toeslagen/zorgtoeslag/zorgtoeslag-2017/" target="_self" class="list__link" rel="external">Zorgtoeslag</a>
                                <span class="list__description">
                                    <p>Voorwaarden, aanvragen, buitenland</p>
                                </span>


                            </li>
                            <li class="list__item">
                                <a href="https://inburgeren.nl/" target="_self" class="list__link" rel="external">Inburgeren</a>
                                <span class="list__description">
                                    <p>Examen doen, lenen, betalen</p>
                                </span>


                            </li>
                        </ul>
                        <!--grouplinklist--><h2>Meest gestelde vragen op dit moment</h2>


                        <div class="collapse" x-uno-collapse-group>
                            <div class="collapse__header" x-uno-collapse role="button" tabindex="0" aria-expanded="false" aria-controls="uno-0585f365-692f-e571-7872-0ac6386c5b55">
                                <i class="collapse__indicator"></i>
                                <span class="collapse__title">de regels die gelden vanaf 2018</span>
                            </div>
                            <div class="collapse__details" id="uno-0585f365-692f-e571-7872-0ac6386c5b55" aria-expanded="false" role="region" style>
                                <ul>
                                    <li>U betaalt altijd via automatische incasso.</li>
                                    <li>Er wordt standaard rekening gehouden met uw draagkracht.</li>
                                    <li>Het inkomen van uw partner telt altijd mee bij de berekening van uw draagkracht.</li>
                                    <li>Uw aflosfase is maximaal 35 jaar.</li>
                                    <li>U hoeft nooit meer dan 4% van uw inkomen boven de draagkrachtvrije voet te betalen. Bent u alleenstaand zonder kinderen, dan is de draagkrachtvrije voet 100% van het minimumloon. In alle andere gevallen is het 143%.</li>
                                </ul>
                            </div>

                            <div class="collapse__header" x-uno-collapse role="button" tabindex="0" aria-expanded="false" aria-controls="uno-2bf2db3d-f35b-32b1-7774-ab17d26ff396">
                                <i class="collapse__indicator"></i>
                                <span class="collapse__title">de regels die gelden vanaf 2012</span>
                            </div>
                            <div class="collapse__details" id="uno-2bf2db3d-f35b-32b1-7774-ab17d26ff396" aria-expanded="false" role="region">
                                <ul>
                                    <li>U betaalt altijd via automatische incasso.</li>
                                    <li>Er wordt standaard rekening gehouden met uw draagkracht.</li>
                                    <li>Het inkomen van uw partner telt altijd mee bij de berekening van uw draagkracht.</li>
                                    <li>Uw aflosfase is maximaal 15 jaar.</li>
                                    <li>U hoeft nooit meer dan 12% van uw inkomen boven de draagkrachtvrije voet te betalen. Bent u alleenstaand zonder kinderen, dan is de draagkrachtvrije voet 84% van het minimumloon. In alle andere gevallen is het 120%.</li>
                                </ul>

                            </div><div class="collapse__header" x-uno-collapse role="button" tabindex="0" aria-expanded="false" aria-controls="uno-119ec322-882b-b01f-15d1-448884addfe7">
                                <i class="collapse__indicator"></i>
                                <span class="collapse__title">de regels van vóór 2012</span>
                            </div>
                            <div class="collapse__details" id="uno-119ec322-882b-b01f-15d1-448884addfe7" aria-expanded="false" role="region" style>
                                <ul>
                                    <li>U kunt kiezen voor automatische incasso.</li>
                                    <li>U krijgt dan € 0,77 korting op uw maandbedrag.</li>
                                    <li>U kunt zelf verlaging van het maandbedrag aanvragen. U bepaalt zelf of u het inkomen van uw partner laat meetellen bij de berekening van uw draagkracht.</li>
                                    <li>Uw aflosfase is 15 jaar. Laat u het partnerinkomen niet meetellen, dan wordt de aflosfase verlengd met het aantal maanden waarin u dit doet.</li>
                                    <li>Uw inkomen wordt in schijven ingedeeld; bij elke extra schijf hoort een hoger percentage draagkracht.</li>
                                </ul>

                            </div>
                        </div>

                        <h2>Overstappen</h2>
                        <p>Als u mag overstappen naar andere terugbetalingsregels, krijgt u van ons een brief. De brief krijgt u een paar maanden voordat u moet beginnen met terugbetalen.</p>
                        <p>Hebt u de brief gehad en wilt u overstappen? Geef dan uw keuze door in Mijn DUO.</p>

                        <table class="table table--striped" aria-describedby="tabelbeschrijving">
                            <thead>
                                <tr>
                                    <td></td>
                                    <th scope="col">2014</th>
                                    <th scope="col">2015</th>
                                    <th scope="col">2016</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Foo</th>
                                    <td>124</td>
                                    <td>42</td>
                                    <td>252</td>
                                </tr>
                                <tr>
                                    <th scope="row">Bar</th>
                                    <td>42</td>
                                    <td>526</td>
                                    <td>12</td>
                                </tr>
                                <tr>
                                    <th scope="row">Baz</th>
                                    <td>736</td>
                                    <td>367</td>
                                    <td>234</td>
                                </tr>
                            </tbody>
                        </table>

                        <p>Als u mag overstappen naar andere terugbetalingsregels, krijgt u van ons een brief. De brief krijgt u een paar maanden voordat u moet beginnen met terugbetalen.</p>
                        <p>Hebt u de brief gehad en wilt u overstappen? Geef dan uw keuze door in Mijn DUO.</p>

                        <p>
                            <a href="/particulier/footer/service/inloggen-op-mijn-duo.jsp" class="btn btn--primary btn--digid" target="_self" role="button" tabindex="0">
                                Inloggen Mijn DUO
                            </a>
                        </p>

                        <h3>Overstappen</h3>
                        <p>Als u mag overstappen naar andere terugbetalingsregels, krijgt u van ons een brief. De brief krijgt u een paar maanden voordat u moet beginnen met terugbetalen.</p>
                        <p>Hebt u de brief gehad en wilt u overstappen? Geef dan uw keuze door in Mijn DUO.</p>

                        <blockquote class="quote">
                            Praesent ullamcorper lacinia nisl, vel vulputate elit tempus tincidunt.
                            Sed dictum ultrices finibus. Praesent at venenatis sapien. Nam sed quam
                            pretium, dignissim sapien euismod, tempus urna. Maecenas mauris odio,
                            malesuada sit amet lectus faucibus, ultrices ullamcorper enim.
                        </blockquote>

                        <p>Hebt u de brief gehad en wilt u overstappen? Geef dan uw keuze door in Mijn DUO.</p>

                        <div class="notification notification--info">
                            <div class="notification__content">
                                <h2 class="notification__title">Gegevens uit het Handelsregister</h2>
                                <span>De gegevens hieronder komen uit het Handelsregister. Wijzigingen in deze gegevens moet u daar doorgeven.</span>
                            </div>
                        </div>

                        <!--groupuitklapbaar-->
                        <div class="collapse" x-uno-collapse-group>
                            <div class="collapse__header" x-uno-collapse role="button" tabindex="0" aria-expanded="false" aria-controls="uno-4299ff22-8eb9-84bb-b7a3-756768d381a3">
                                <i class="collapse__indicator"></i>
                                <span class="collapse__title">Inloggen vanuit het buitenland</span>
                            </div>
                            <div class="collapse__details" id="uno-4299ff22-8eb9-84bb-b7a3-756768d381a3" aria-expanded="false" role="region">
                                <p>U kunt met uw DigiD ook buiten Nederland inloggen op Mijn DUO.</p>
                                <p>Lukt inloggen niet? Gebruik dan het formulier Aanvraag overstap terugbetalingsregels.</p>


                                <ul class="list list--files">
                                    <li class="file">
                                        <i class="file__icon icon icon-document"></i>
                                        <div class="file__data">
                                            <div class="file__filename"><strong class="file__title break-all"><a href="/images/aanvraag-overstap-terugbetalingsregels.pdf" target="new">Aanvraag overstap terugbetalingsregels 2018</a></strong><span class="meta">pdf, 110kb</span></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--groupuitklapbaar--><h4>Terugbetalingsregels vergelijken</h4>


                        <!--groupuitklapbaar-->
                        <div class="collapse" x-uno-collapse-group>
                            <div class="collapse__header" x-uno-collapse role="button" tabindex="0" aria-expanded="false" aria-controls="uno-df917c5a-0b24-a51f-cf2b-a65399364776">
                                <i class="collapse__indicator"></i>
                                <span class="collapse__title">Betaalwijze</span>
                            </div>
                            <div class="collapse__details" id="uno-df917c5a-0b24-a51f-cf2b-a65399364776" aria-expanded="false" role="region" style>
                                <table class="table table--striped">
                                    <thead>
                                        <tr>
                                            <th id="Regels_vanaf_2018">Regels die gelden vanaf 2018</th>
                                            <td headers="Regels_vanaf_2018" style="width: 75%;">U betaalt altijd via automatische incasso.</td>
                                        </tr>
                                        <tr>
                                            <th id="Regels_vanaf_2012">Regels die gelden vanaf 2012</th>
                                            <td headers="Regels_vanaf_2012" style="width: 75%;">U betaalt altijd via automatische incasso.</td>
                                        </tr>
                                        <tr>
                                            <th rowspan="1" id="Regels_van_vóór_2012">Regels van vóór 2012</th>
                                            <td rowspan="1" headers="Regels_van_vóór_2012" style="width: 75%;">U kunt kiezen voor automatische incasso. U krijgt dan <nobr>€ 0,77</nobr> korting op uw maandbedrag.</td>
                                        </tr>
                                    </thead>
                                </table>



                            </div><div class="collapse__header" x-uno-collapse role="button" tabindex="0" aria-expanded="false" aria-controls="uno-c316868c-5624-7fc8-6a2c-4aa5758e44a9">
                                <i class="collapse__indicator"></i>
                                <span class="collapse__title">Verlagen maandbedrag</span>
                            </div>
                            <div class="collapse__details" id="uno-c316868c-5624-7fc8-6a2c-4aa5758e44a9" aria-expanded="false" role="region" style>
                                <table class="table table--striped">
                                    <thead>
                                        <tr>
                                            <th id="Regels_vanaf_2018">Regels die gelden vanaf 2018</th>
                                            <td headers="Regels_vanaf_2018" style="width: 75%;">Er wordt standaard rekening gehouden met uw draagkracht.</td>
                                        </tr>
                                        <tr>
                                            <th id="Regels_vanaf_2012">Regels die gelden vanaf 2012</th>
                                            <td headers="Regels_vanaf_2012" style="width: 75%;">Er wordt standaard rekening gehouden met uw draagkracht.</td>
                                        </tr>
                                        <tr>
                                            <th rowspan="1" id="Regels_van_vóór_2012_">Regels van vóór 2012</th>
                                            <td rowspan="1" headers="Regels_van_vóór_2012_" style="width: 75%;">U kunt zelf verlaging van het maandbedrag aanvragen.</td>
                                        </tr>
                                    </thead>
                                </table>



                            </div><div class="collapse__header" x-uno-collapse role="button" tabindex="0" aria-expanded="false" aria-controls="uno-0cdc1c95-9480-728e-5c3a-4f6ce6faaef4">
                                <i class="collapse__indicator"></i>
                                <span class="collapse__title">Partnerinkomen</span>
                            </div>
                            <div class="collapse__details" id="uno-0cdc1c95-9480-728e-5c3a-4f6ce6faaef4" aria-expanded="false" role="region" style>
                                <table class="table table--striped">
                                    <thead>
                                        <tr>
                                            <th id="Regels_vanaf_2018_">Regels die gelden vanaf 2018</th>
                                            <td headers="Regels_vanaf_2018_" style="width: 75%;">Het inkomen van uw partner telt altijd mee bij de berekening van uw draagkracht.</td>
                                        </tr>
                                        <tr>
                                            <th id="Regels_vanaf_2012">Regels die gelden vanaf 2012</th>
                                            <td headers="Regels_vanaf_2012" style="width: 75%;">Het inkomen van uw partner telt altijd mee bij de berekening van uw draagkracht.</td>
                                        </tr>
                                        <tr>
                                            <th rowspan="1" id="Regels_van_vóór_2012">Regels van vóór 2012</th>
                                            <td rowspan="1" headers="Regels_van_vóór_2012" style="width: 75%;">U bepaalt zelf of u het inkomen van uw partner laat meetellen bij de berekening van uw draagkracht.</td>
                                        </tr>
                                    </thead>
                                </table>



                            </div><div class="collapse__header" x-uno-collapse role="button" tabindex="0" aria-expanded="false" aria-controls="uno-24e64cd0-dbca-b857-ef39-893003f32e54">
                                <i class="collapse__indicator"></i>
                                <span class="collapse__title">Looptijd</span>
                            </div>
                            <div class="collapse__details" id="uno-24e64cd0-dbca-b857-ef39-893003f32e54" aria-expanded="false" role="region" style>
                                <table class="table table--striped">
                                    <thead>
                                        <tr>
                                            <th id="Regels_vanaf_2018">Regels die gelden vanaf 2018</th>
                                            <td headers="Regels_vanaf_2018" style="width: 75%;">Uw aflosfase is maximaal 35 jaar.</td>
                                        </tr>
                                        <tr>
                                            <th id="Regels_vanaf_2012">Regels die gelden vanaf 2012</th>
                                            <td headers="Regels_vanaf_2012" style="width: 75%;">Uw aflosfase is maximaal 15 jaar.</td>
                                        </tr>
                                        <tr>
                                            <th rowspan="1" id="Regels_van_vóór_2012">Regels van vóór 2012</th>
                                            <td rowspan="1" headers="Regels_van_vóór_2012" style="width: 75%;">Uw aflosfase is 15 jaar. Laat u het partnerinkomen niet meetellen, dan wordt de aflosfase verlengd met het aantal maanden waarin u dit doet.</td>
                                        </tr>
                                    </thead>
                                </table>



                            </div><div class="collapse__header" x-uno-collapse role="button" tabindex="0" aria-expanded="false" aria-controls="uno-1e9c7b3d-f279-5daf-e9da-20cb2c137a6f">
                                <i class="collapse__indicator"></i>
                                <span class="collapse__title">Berekening draagkracht</span>
                            </div>
                            <div class="collapse__details" id="uno-1e9c7b3d-f279-5daf-e9da-20cb2c137a6f" aria-expanded="false" role="region" style>
                                <table class="table table--striped">
                                    <thead>
                                        <tr>
                                            <th id="Regels_vanaf_2018">Regels die gelden vanaf 2018</th>
                                            <td headers="Regels_vanaf_2018" style="width: 75%;">U hoeft nooit meer dan 4% van uw inkomen boven de draagkrachtvrije voet te betalen. Bent u alleenstaand zonder kinderen, dan is de draagkrachtvrije voet 100% van het minimumloon. In alle andere gevallen is het 143%. Het maandbedrag is altijd lager dan onder de regels die gelden vanaf 2012.</td>
                                        </tr>
                                        <tr>
                                            <th id="Regels_vanaf_2012">Regels die gelden vanaf 2012</th>
                                            <td headers="Regels_vanaf_2012" style="width: 75%;">U hoeft nooit meer dan 12% van uw inkomen boven de draagkrachtvrije voet te betalen. Bent u alleenstaand zonder kinderen, dan is de draagkrachtvrije voet 84% van het minimumloon. In alle andere gevallen is het 120%. Het maandbedrag is meestal lager dan onder de regels van vóór 2012.</td>
                                        </tr>
                                        <tr>
                                            <th rowspan="1" id="regels_van_vóór_2012">Regels van vóór 2012</th>
                                            <td rowspan="1" headers="regels_van_vóór_2012" style="width: 75%;">Uw inkomen wordt in schijven ingedeeld; bij elke extra schijf hoort een hoger percentage draagkracht.</td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <!--groupuitklapbaar--><aside class="hint">

                            <p>Kunt u overstappen? <a href="/particulier/footer/service/rekenhulpen/rekenhulp-verlagen-maandbedrag.jsp" class>Gebruik de rekenhulp</a> om te zien hoe hoog uw maandbedrag wordt onder de verschillende terugbetalingsregels.</p>



                        </aside>
                        <div class="prev-next">
                            <a href="/particulier/studieschuld-terugbetalen/index.jsp" class="prev-next__prev">
                                <span class="prev-next__meta">VORIGE</span>
                                <span class="prev-next__text">1. Hoe het werkt</span>
                            </a>
                            <span><!-- divider element --></span>
                            <a href="/particulier/studieschuld-terugbetalen/rente.jsp" class="prev-next__next">
                                <span class="prev-next__meta">VOLGENDE</span>
                                <span class="prev-next__text"> 3. Rente</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row theme--large-padding">
            <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                <div class="content-background">
                    <div class="content content--inpage">
                        <h1>Wat u kunt krijgen</h1>
                        <p>Studiefinanciering en tegemoetkoming scholieren bestaan uit verschillende onderdelen. Wat u kunt krijgen, hangt af van uw opleiding. U bepaalt zelf welke onderdelen u aanvraagt.</p>
                        <h2>Voortgezet onderwijs</h2>



                        <!--groupuitklapbaar-->
                        <div class="collapse" x-uno-collapse-group>
                            <div class="collapse__header" x-uno-collapse role="button" tabindex="0" aria-expanded="false" aria-controls="uno-bc79b32a-14b5-fb99-087f-c0a0b73e3371">
                                <i class="collapse__indicator"></i>
                                <span class="collapse__title">Basistoelage</span>
                            </div>
                            <div class="collapse__details" id="uno-bc79b32a-14b5-fb99-087f-c0a0b73e3371" aria-expanded="false" role="region">
                                <ul class="definition-list">
                                    <li class="definition-list__item definition-list__item--horizontal">
                                        <a class="definition-list__edit-button" href="#">Wijzig</a>
                                        <div class="definition-list__title">Naam beheerder</div>
                                        <div class="definition-list__description">
                                            <p>Casper Vrijmoed</p>
                                        </div>
                                    </li>
                                    <li class="definition-list__item definition-list__item--horizontal">
                                        <a class="definition-list__edit-button" href="#">Wijzig</a>
                                        <div class="definition-list__title">Telefoonnummer</div>
                                        <div class="definition-list__description">
                                            <p>06 123 56 789</p>
                                        </div>
                                    </li>
                                    <li class="definition-list__item definition-list__item--horizontal">
                                        <a class="definition-list__item__edit-button" href="#">Wijzig</a>
                                        <div class="definition-list__item__title">E-mailadres</div>
                                        <div class="definition-list__item__description">
                                            <p>casper.vrijmoed@terra-agrarisch.nl</p>
                                        </div>
                                    </li>
                                    <li class="definition-list__item definition-list__item--horizontal">
                                        <a class="definition-list__edit-button" href="#">Wijzig</a>
                                        <div class="definition-list__title">Ontvangstadres</div>
                                        <div class="definition-list__description">
                                            <p>
                                                Agrarisch opleidingscentrum Terra<br>
                                                T.a.v. Casper Vrijmoed<br>
                                                Hereweg 99 <br>
                                                9721 AA  GRONINGEN
                                            </p>
                                        </div>
                                    </li>
                                    <li class="definition-list__item">
                                        <a class="definition-list__edit-button" href="#">Wijzig</a>
                                        <div class="definition-list__title">Beschrijving</div>
                                        <div class="definition-list__description">
                                            <p>De krant schrijft dat er nog vele vragen zijn over de toedracht van het ongeluk. Zo was er een vernieuwd beveiligingssysteem dat zou moeten opmerken dat er twee treinen op één spoor rijden. De stationschef van het nabijliggende station Corato had dit ook op moeten merken.</p>
                                            <p>De krant schrijft dat er nog vele vragen zijn over de toedracht van het ongeluk. Zo was er een vernieuwd beveiligingssysteem dat zou moeten opmerken dat er twee treinen op één spoor rijden. De stationschef van het nabijliggende station Corato had dit ook op moeten merken.</p>
                                        </div>
                                    </li>
                                </ul>




                            </div><div class="collapse__header" x-uno-collapse role="button" tabindex="0" aria-expanded="false" aria-controls="uno-fc8c7295-70df-b84a-ee0e-848b62df80d0">
                                <i class="collapse__indicator"></i>
                                <span class="collapse__title">Aanvullende toelage</span>
                            </div>
                            <div class="collapse__details" id="uno-fc8c7295-70df-b84a-ee0e-848b62df80d0" aria-expanded="false" role="region">
                                <p>Als uw ouders weinig of niet kunnen meebetalen aan uw opleiding, kunt u een <a href="/particulier/aanvullende-beurs-of-toelage/index.jsp" class>aanvullende toelage</a> krijgen. We kijken dan naar hun inkomen. Ook houden we rekening met het aantal kinderen dat ze verzorgen. De aanvullende toelage is een gift.</p>



                            </div>
                        </div>
                        <!--groupuitklapbaar--><h2>Mbo</h2>



                        <!--groupuitklapbaar-->
                        <div class="collapse" x-uno-collapse-group>
                            <div class="collapse__header" x-uno-collapse role="button" tabindex="0" aria-expanded="false" aria-controls="uno-dbf04a86-fd87-0819-e7d2-94cdd0652f74">
                                <i class="collapse__indicator"></i>
                                <span class="collapse__title">Basisbeurs</span>
                            </div>
                            <div class="collapse__details" id="uno-dbf04a86-fd87-0819-e7d2-94cdd0652f74" aria-expanded="false" role="region">
                                <p>De basisbeurs is afhankelijk van uw woonsituatie: als u uitwonend bent, is de beurs hoger dan wanneer u thuis woont. De basisbeurs kan een gift zijn of worden.</p>



                            </div><div class="collapse__header" x-uno-collapse role="button" tabindex="0" aria-expanded="false" aria-controls="uno-6823a730-c79c-6670-9a93-716daa6af591">
                                <i class="collapse__indicator"></i>
                                <span class="collapse__title">Aanvullende beurs</span>
                            </div>
                            <div class="collapse__details" id="uno-6823a730-c79c-6670-9a93-716daa6af591" aria-expanded="false" role="region">
                                <p>Als uw ouders weinig of niet kunnen meebetalen aan uw opleiding, kunt u een <a href="/particulier/aanvullende-beurs-of-toelage/index.jsp" class>aanvullende beurs</a> krijgen. We kijken dan naar hun inkomen. Ook houden we rekening met het aantal kinderen dat ze verzorgen, en of uw ouders een studieschuld terugbetalen. De aanvullende beurs kan een gift zijn of worden.</p>



                            </div><div class="collapse__header" x-uno-collapse role="button" tabindex="0" aria-expanded="false" aria-controls="uno-ce0bf52a-a786-7cf9-2099-43f88171cbf0">
                                <i class="collapse__indicator"></i>
                                <span class="collapse__title">Studentenreisproduct</span>
                            </div>
                            <div class="collapse__details" id="uno-ce0bf52a-a786-7cf9-2099-43f88171cbf0" aria-expanded="false" role="region">
                                <p>Het <a href="/particulier/ov-en-reizen/index.jsp" class>studentenreisproduct</a> is onderdeel van studiefinanciering. Hiermee kunt u gratis of met korting reizen met het openbaar vervoer. Ook mbo’ers jonger dan 18 kunnen het reisproduct krijgen. Het studentenreisproduct kan een gift zijn of worden.</p>



                            </div><div class="collapse__header" x-uno-collapse role="button" tabindex="0" aria-expanded="false" aria-controls="uno-100f9974-11d6-7f1e-b564-2407c37a81f2">
                                <i class="collapse__indicator"></i>
                                <span class="collapse__title">Lening</span>
                            </div>
                            <div class="collapse__details" id="uno-100f9974-11d6-7f1e-b564-2407c37a81f2" aria-expanded="false" role="region">
                                <p>Hebt u extra geld nodig voor uw opleiding? Dan kunt u <a href="/particulier/lenen.jsp" class>lenen</a>. U hoeft niet maximaal te lenen, minder mag ook. Dit bepaalt u zelf. U kunt uw lening maandelijks aanpassen of opzeggen. De lening moet u na uw opleiding altijd terugbetalen, met rente.</p>



                            </div>
                        </div>
                        <!--groupuitklapbaar--><h2>Hbo of universiteit</h2>



                        <!--groupuitklapbaar-->
                        <div class="collapse" x-uno-collapse-group>
                            <div class="collapse__header" x-uno-collapse role="button" tabindex="0" aria-expanded="false" aria-controls="uno-a8e4ca77-e073-da81-ad23-9266f80e53c6">
                                <i class="collapse__indicator"></i>
                                <span class="collapse__title">Aanvullende beurs</span>
                            </div>
                            <div class="collapse__details" id="uno-a8e4ca77-e073-da81-ad23-9266f80e53c6" aria-expanded="false" role="region">
                                <p>Als uw ouders weinig of niet kunnen meebetalen aan uw opleiding, kunt u een <a href="/particulier/aanvullende-beurs-of-toelage/index.jsp" class>aanvullende beurs</a> krijgen. We kijken dan naar hun inkomen. Ook houden we rekening met het aantal kinderen dat ze verzorgen, en of uw ouders een studieschuld terugbetalen. De aanvullende beurs kan een gift zijn of worden.</p>



                            </div><div class="collapse__header" x-uno-collapse role="button" tabindex="0" aria-expanded="false" aria-controls="uno-413f7648-37c9-d457-43ea-86202a0695ea">
                                <i class="collapse__indicator"></i>
                                <span class="collapse__title">Lening</span>
                            </div>
                            <div class="collapse__details" id="uno-413f7648-37c9-d457-43ea-86202a0695ea" aria-expanded="false" role="region">
                                <p>Hebt u extra geld nodig voor uw opleiding? Dan kunt u <a href="/particulier/lenen.jsp" class>lenen</a>. U hoeft niet maximaal te lenen, minder mag ook. Dit bepaalt u zelf. U kunt uw lening maandelijks aanpassen of opzeggen. De lening moet u na uw opleiding altijd terugbetalen, met rente.</p>



                            </div><div class="collapse__header" x-uno-collapse role="button" tabindex="0" aria-expanded="false" aria-controls="uno-7441f0b7-4215-cfaf-896a-207dcd815cb4">
                                <i class="collapse__indicator"></i>
                                <span class="collapse__title">Studentenreisproduct</span>
                            </div>
                            <div class="collapse__details" id="uno-7441f0b7-4215-cfaf-896a-207dcd815cb4" aria-expanded="false" role="region">
                                <p>Het <a href="/particulier/ov-en-reizen/index.jsp" class>studentenreisproduc</a>t is onderdeel van studiefinanciering. Hiermee kunt u gratis of met korting reizen met het openbaar vervoer. Het studentenreisproduct kan een gift zijn of worden.</p>



                            </div><div class="collapse__header" x-uno-collapse role="button" tabindex="0" aria-expanded="false" aria-controls="uno-2dcdf61c-81bd-17be-524d-b105feac0531">
                                <i class="collapse__indicator"></i>
                                <span class="collapse__title">Collegegeldkrediet</span>
                            </div>
                            <div class="collapse__details" id="uno-2dcdf61c-81bd-17be-524d-b105feac0531" aria-expanded="false" role="region">
                                <p>Doet u hbo of universiteit? Dan kunt u geld lenen om uw collegegeld te betalen: het <a href="/particulier/lenen.jsp" class>collegegeldkrediet</a>.</p>
                                <p>Hoeveel collegegeldkrediet u krijgt, hangt af van het soort collegegeld dat u betaalt. Als u wettelijk collegegeld betaalt, kun u maandelijks 1/12 van uw collegegeld lenen. Betaalt u instellingscollegegeld, dan kunt u meer lenen. Hoeveel precies hangt af van de hoogte van uw instellingscollegegeld. Er geldt wel een maximum: u kunt nooit meer lenen dan 5 keer het wettelijke collegegeld.</p>
                                <p>Het collegegeldkrediet moet u na uw opleiding altijd terugbetalen, met rente.</p>



                            </div>
                        </div>
                        <!--groupuitklapbaar--><p>Valt u onder het <a href="/particulier/oud-stelsel-hbo-en-universiteit.jsp" class>oude stelsel voor hbo en universiteit</a>? Dan kunt u ook nog een basisbeurs krijgen.</p>


                        <h2>Bedragen</h2>
                        <p>Gebruik de rekenhulp om te berekenen hoeveel u kunt krijgen. Of kijk op de pagina met <a href="/particulier/bedragen-studiefinanciering-en-tegemoetkoming.jsp" class>bedragen</a>.</p>

                        <ul class="regular-link list list--links list--chevrons">
                            <li><a href="/particulier/footer/service/rekenhulpen/rekenhulp-tegemoetkoming-scholieren.jsp" class>Rekenhulp Bereken uw tegemoetkoming scholieren</a></li>

                            <li><a href="/particulier/footer/service/rekenhulpen/rekenhulp-berekenen-studiefinanciering.jsp" class>Rekenhulp Bereken uw studiefinanciering voor mbo, hbo of universiteit</a></li>
                        </ul>
                        <aside class="hint">
                            <span class="hint__title">U verzorgt een kind</span>
                            <p>Doet u mbo, hbo of universiteit en verzorgt u een kind? Dan kunt u extra geld krijgen: de <a href="/particulier/alleenstaande-ouder.jsp" class>eenoudertoeslag</a>.</p>



                        </aside>
                        <div class="prev-next">
                            <a href="/particulier/studiefinanciering/index.jsp" class="prev-next__prev">
                                <span class="prev-next__meta">VORIGE</span>
                                <span class="prev-next__text">In het kort</span>
                            </a>
                            <span><!-- divider element --></span>
                            <a href="/particulier/studiefinanciering/voorwaarden.jsp" class="prev-next__next">
                                <span class="prev-next__meta">VOLGENDE</span>
                                <span class="prev-next__text"> Voorwaarden</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                <div class="content-background">
                    <div class="content">
                        <h2>Mededelingen</h2>
                        <div class="collapse">
                            <div class="collapse__header" role="button" tabindex="0" x-uno-collapse>
                                <i class="collapse__indicator"></i> <span class="collapse__title collapse__title--open">Storing in het verzuimloket<span class="label label--wit">24 januari 2017</span></span>
                            </div>
                            <div class="collapse__details collapse__details--open">
                                <h2>Kop in collapse</h2>
                                Het is momenteel niet mogelijk om verzuimmeldingen door te geven, we werken aan een oplossing.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="row">
            <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                <div class="content">
                    <a class="backlink" href="/duo/rio/portaal/onderwijsorganisaties/31107/opleidingen/index.html">Opleidingen</a>
                    <header class="content__header">
                        <h1 class="content__header-title">Aangeboden opleidingen</h1>
                        <p class="content__header-paragraph">Stichting ROC West-Brabant</p>
                        <ol class="content__header-inpage list list--decimal list--decimal-with-dot columns">
                            <li><a href="index.html">Wat moet je doen</a></li>
                            <li class="selected">Voorwaarden</li>
                            <li><a href="hoe-het-werkt.html">Hoe het werkt</a></li>
                            <li><a href="studiefinanciering.html">Hoe zit het met studiefinanciering</a></li>
                            <li><a href="ouders.html">Ouders</a></li>
                        </ol>
                    </header>
                </div>
            </div>
        </section>

        <div class="row">
            <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                <div class="content-background">
                    <div class="content">
                        <blockquote class="quote">
                            Praesent ullamcorper lacinia nisl, vel vulputate elit tempus tincidunt.
                            Sed dictum ultrices finibus. Praesent at venenatis sapien. Nam sed quam
                            pretium, dignissim sapien euismod, tempus urna. Maecenas mauris odio,
                            malesuada sit amet lectus faucibus, ultrices ullamcorper enim.
                        </blockquote>

                        <div class="collapse">
                            <div x-uno-collapse class="collapse__header">
                                <i class="collapse__indicator"></i>
                                <span class="collapse__title">Titel van collapse</span>
                            </div>
                            <div class="collapse__details collapse__details--open">
                                Dit is de inhoud van de collapse.
                                Humani generiss sunt dominas de nobilis compater.
                                Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                <div class="content-background background--donkerblauw">
                    <div class="content">
                        <h2>Snel naar</h2>
                        <ul class="list list--links list--chevrons">
                            <li>
                                <a href="#">Contactgegevens toevoegen</a>
                            </li>
                            <li>
                                <a href="#">Onderwijsaanbieder toevoegen</a>
                            </li>
                            <li>
                                <a href="#">Onderwijslocaties toevoegen</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                <div class="content-background">
                    <div class="content">

                        <div class="input">
                            <label class="input__label">Adres</label>
                            <div class="input__control-group">
                                <div>
                                    <label class="input__hint">postcode</label>
                                    <input aria-label="Geboortedag" title="Geboortedag" required type="text" id="date_of_birth-d" class="input__control input__control--s input__control--text" value="4826 AB">
                                </div>
                                <div>
                                    <label class="input__hint">nummer</label>
                                    <input aria-label="Geboortemaand" title="Geboortemaand" required type="text" id="date_of_birth-m" class="input__control input__control--xs input__control--text" value="414">
                                </div>
                                <div>
                                    <span class="input__hint">toevoeging</span>
                                    <input aria-label="Geboortejaar" title="Geboortejaar" required type="text" id="date_of_birth-y" class="input__control input__control--xs input__control--text" value>
                                </div>
                            </div>

                            <div class="hint">
                                <p><strong>Terheijdenseweg 414<br> 4826 AB Breda</strong></p>
                            </div>
                        </div>

                        <div class="input">
                            <p>
                                <a href="../" class="btn btn--primary">Bewaar</a>
                                of <a href="../">annuleer</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                <div class="content-background">
                    <div class="content">
                        <div class="input">
                            <label class="input__label" for="input-xl">Formele naam</label> <input class="input__control input__control--xl input__control--text" id="input-xl" type="text" value>
                        </div>
                        <div class="input">
                            <label class="input__label" for="input-xl">Informele naam<span class="label label--optional">optioneel</span></label> <input class="input__control input__control--l input__control--text" id="input-xl" type="text" value>
                        </div>
                        <div class="input">
                            <label class="input__label" for="color">Onderwijsmethode<span class="label label--optional">optioneel</span></label> <select class="input__control input__control--l input__control--select" id="color">
                                <option>
                                    Kies een onderwijsmethode
                                </option>
                                <option>
                                    Methode 1
                                </option>
                                <option>
                                    Methode 2
                                </option>
                                <option>
                                    Methode 3
                                </option>
                                <option>
                                    Methode 4
                                </option>
                                <option>
                                    Methode 5
                                </option>
                                <option>
                                    Methode 6
                                </option>
                            </select>
                        </div>
                        <fieldset class="input">
                            <legend>Brin</legend>
                            <div class="input__group input__group--radio">
                                <input class="input__control input__control--radio" id="opt1" name="optradio" type="radio"> <label class="input__label input__label--radio" for="opt1">25LX</label>
                            </div>
                            <div class="input__group input__group--radio">
                                <input class="input__control input__control--radio" id="opt1" name="optradio" type="radio"> <label class="input__label input__label--radio" for="opt1">21CY</label>
                            </div>
                        </fieldset>
                        <div class="input">
                            <label class="input__label">Oprichtingsdatum</label>
                            <div class="input__control-group">
                                <div>
                                    <label class="input__hint">dag</label> <input aria-label="Geboortedag" class="input__control input__control--xs input__control--text" id="date_of_birth-d" required title="Geboortedag" type="text" value>
                                </div>
                                <div>
                                    <label class="input__hint">maand</label> <input aria-label="Geboortemaand" class="input__control input__control--xs input__control--text" id="date_of_birth-m" required title="Geboortemaand" type="text" value>
                                </div>
                                <div>
                                    <span class="input__hint">jaar</span> <input aria-label="Geboortejaar" class="input__control input__control--s input__control--text" id="date_of_birth-y" required title="Geboortejaar" type="text" value>
                                </div>
                            </div>
                        </div>

                        <div class="input inner-section inner-section--no-border background--donkergeel-tint-2">
                            <label class="input__label">Ingangsdatum wijziging</label>
                            <div class="input__control-group">
                                <div>
                                    <label class="input__hint">Dag</label>
                                    <input aria-label="Dag" title="Dag" required type="text" id="date_of_birth-d" class="input__control input__control--xs input__control--text" value>
                                </div>
                                <div>
                                    <label class="input__hint">Maand</label>
                                    <input aria-label="Maand" title="Maand" required type="text" id="date_of_birth-m" class="input__control input__control--xs input__control--text" value>
                                </div>
                                <div>
                                    <span class="input__hint">Jaar</span>
                                    <input aria-label="Jaar" title="Jaar" required type="text" id="date_of_birth-y" class="input__control input__control--s input__control--text" value>
                                </div>
                            </div>
                        </div>

                        <p><a class="btn btn--primary" href="#">Bewaar</a> of <a href="#">annuleer</a></p>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                <div class="content-background">
                    <div class="content">
                        <div class="notification notification--info">
                            <div class="notification__content">
                                <strong class="notification__title">Gegevens uit het Handelsregister</strong>
                                <span>De gegevens hieronder komen uit het Handelsregister. Wijzigingen in deze gegevens moet u daar doorgeven.</span>
                            </div>
                        </div>

                        <ul class="list list--subjects">
                            <li>
                                <a href="#">Contactgegevens</a><br>
                                <p>Bekijk en wijzig de contactgegevens van uw organisatie.</p>
                            </li>
                            <li>
                                <a href="#">Onderwijslocaties</a><br>
                                <p>Bekijk alle onderwijslocaties van uw organisatie</p>
                            </li>
                            <li>
                                <a href="#">Organisatiestructuur</a><br>
                                <p>Bekijk en wijzig de scholen van uw organisatie.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                <div class="content-background">
                    <div class="content">
                        <div class="edit-section">
                            <h2>Algemene gegevens</h2><a href="#">Wijzig</a>
                        </div>
                        <ul class="definition-list">
                            <li class="definition-list__item definition-list__item--horizontal">
                                <div class="definition-list__title">
                                    Onderwijslocatiecode
                                </div>
                                <div class="definition-list__description">
                                    <p>99X999</p>
                                </div>
                            </li>
                            <li class="definition-list__item definition-list__item--horizontal">
                                <div class="definition-list__title">
                                    Naam
                                </div>
                                <div class="definition-list__description">
                                    <p>Locatie Terheijdenseweg <span class="input__hint">Per 1-8-2017: Terheijdenseweg</span></p>
                                </div>
                            </li>
                            <li class="definition-list__item definition-list__item--horizontal">
                                <a class="definition-list__edit-button" href="#">Wijzig</a>
                                <div class="definition-list__title">
                                    <span>Begindatum</span>
                                </div>
                                <div class="definition-list__description">
                                    <p>01-05-1990</p>
                                </div>
                            </li>
                            <li class="definition-list__item">
                                <a class="definition-list__edit-button" href="#">Beëindig</a>
                                <div class="definition-list__title">
                                    Einddatum
                                </div>
                                <div class="definition-list__description">1-10-2018</div>
                            </li>
                        </ul>
                        <div class="collapse">
                            <div x-uno-collapse class="collapse__header">
                                <i class="collapse__indicator"></i> <span class="collapse__title">Historie en toekomstige wijzigingen</span>
                            </div>
                            <div class="collapse__details">
                                <ul>
                                    <li class="list__item list__item--disabled">
                                        <p>
                                            <strong><time>1 september 2017<span class="label label--zwart">Toekomstige wijziging</span></time></strong><br>
                                            Adres <span class="copy-wordt-gewijzigd-naar">wordt gewijzigd naar</span> Terheijdenseweg 415, 4827 AC Breda.
                                        </p>
                                    </li>
                                    <li class="list__item list__item--disabled">
                                        <p>
                                            <strong><time>1 augustus 2017<span class="label label--zwart">Toekomstige wijziging</span></time></strong><br>
                                            Naam wordt gewijzigd naar Terheijdenseweg.
                                        </p>
                                    </li>
                                    <li class="list__item">
                                        <p>
                                            <strong><time>1 januari 2017</time></strong><br>
                                            Uit bedrijfdatum gewijzigd naar 01-08-2020.
                                        </p>
                                    </li>
                                    <li class="list__item">
                                        <p>
                                            <strong><time>5 juli 2007</time></strong><br>
                                            Naam gewijzigd naar Locatie Terheijdenseweg.
                                        </p>
                                    </li>
                                    <li class="list__item">
                                        <p><strong><time>1 mei 1990 <span class="label label--groen">oprichting</span></time></strong><br></p>
                                        <dl>
                                            <dt>Naam</dt>
                                            <dd>Locatie Terheijdenseweg</dd>
                                            <dt>Adres</dt>
                                            <dd>
                                                Terheijdenseweg 414<br>
                                                4826 AB Breda
                                            </dd>
                                            <dt>In bedrijfdatum</dt>
                                            <dd>01-05-1990</dd>
                                        </dl>
                                        <p></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                <div class="content-background">
                    <div class="content">
                        <div class="hint">
                            <span class="hint__title">Titel van de hint</span>
                            Humani generiss sunt dominas de nobilis compater.
                            Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.
                        </div>
                        <h2>Kop na hint</h2>
                        <table aria-describedby="tabelbeschrijving" class="table table--striped">
                            <thead>
                                <tr>
                                    <th scope="col">Code</th>
                                    <th scope="col">Naam</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">31107</th>
                                    <td>
                                        <a href="#">Stichting ROC West-Brabant</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">999A999</th>
                                    <td>
                                        <a href="#">Cingel College</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                <div class="content-background">
                    <div class="content">

                        <div class="notification notification--info">
                            <div class="notification__content">
                                <strong class="notification__title">Gegevens uit het Handelsregister</strong>
                                <span>De gegevens die u hieronder ziet zijn afkomstig uit het Handelsregister. Sommige gegevens kunt u alleen via het Handelsregister wijzigen.</span>
                            </div>
                        </div>
                        <ul class="definition-list">
                            <li class="definition-list__item definition-list__item--horizontal">
                                <div class="definition-list__item__title">Telefoon</div>
                                <div class="definition-list__item__description">
                                    <p>076-5048000</p>
                                </div>
                            </li>
                            <li class="definition-list__item definition-list__item--horizontal">
                                <div class="definition-list__item__title">E-mail</div>
                                <div class="definition-list__item__description">
                                    <p>infopunt@rocwb.nl</p>
                                </div>
                            </li>
                            <li class="definition-list__item definition-list__item--horizontal">
                                <div class="definition-list__item__title">Website</div>
                                <div class="definition-list__item__description">
                                    <p><a href="#">www.rocwb.nl</a></p>
                                </div>
                            </li>
                            <li class="definition-list__item definition-list__item--horizontal">
                                <div class="definition-list__item__title">Postadres</div>
                                <div class="definition-list__item__description">
                                    <p>
                                        Postbus 699<br>
                                        4870 AR Etten-Leur<br>
                                    </p>
                                </div>
                            </li>
                            <li class="definition-list__item definition-list__item--horizontal">
                                <div class="definition-list__item__title">Bezoekadres</div>
                                <div class="definition-list__item__description">
                                    <p>
                                        Trivium 74<br>
                                        4873 LP Etten-Leur<br>
                                    </p>
                                </div>
                            </li>
                        </ul>

                        <ol class="list list--decimal">
                            <li>Fiscina de brevis gallus, captis bromium!</li>
                            <li>Fiscina de brevis gallus, captis bromium!</li>
                            <li>Solitudo potuss, tanquam azureus adiurator.</li>
                            <li>Solitudo potuss, tanquam azureus adiurator.</li>
                            <li>Solitudo potuss, tanquam azureus adiurator.</li>
                            <li>Toruss persuadere, tanquam peritus danista.</li>
                            <li>Toruss persuadere, tanquam peritus danista.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-10 col-lg-10 col-lg-offset-1 col-md-12">
                <div class="content-background">
                    <div class="content">
                        <ul class="list list--subjects columns">
                            <li>
                                <a href="content-default.php" class="list__link">Studiefinanciering aanvragen</a>
                                <p>Aanvragen met DigiD</p>
                            </li>
                            <li>
                                <a href="content-inpage.php" class="list__link">Studiefinanciering</a>
                                <p>Hoe het werkt, voorwaarden en hoelang u recht heeft</p>
                            </li>
                            <li>
                                <a href="content-inpage.php" class="list__link">Extra studiefinanciering gebaseerd op ouderinkomen</a>
                                <p>Aanvullende beurs of toelage: voor vo, mbo, hbo, wo</p>
                            </li>
                            <li>
                                <a href="content-inpage.php" class="list__link">Bedragen</a>
                                <p>Hoeveel u kunt krijgen</p>
                            </li>
                            <li>
                                <a href="content-inpage.php" class="list__link">Opleidingsgegevens wijzigen</a>
                                <p>Einddatum of andere opleiding doorgeven</p>
                            </li>
                            <li>
                                <a href="content-inpage.php" class="list__link">Persoonlijke gegevens wijzigen</a>
                                <p>Wijziging doorgeven voor studiefinanciering en tegemoetkoming scholieren</p>
                            </li>
                            <li>
                                <a href="content-inpage.php" class="list__link">Oud stelsel hbo en universiteit</a>
                                <p>Regels studiefinanciering hbo en universiteit vóór 1 september 2015</p>
                            </li>
                            <li>
                                <a href="content-inpage.php" class="list__link">Studievertraging door bijzondere omstandigheden</a>
                                <p>Speciale regeling bij studievertraging, bijvoorbeeld door ziekte of handicap</p>
                            </li>
                            <li>
                                <a href="content-inpage.php" class="list__link">Deeltijdopleiding</a>
                                <p>Geld voor deeltijdopleidingen in het voortgezet onderwijs</p>
                            </li>
                            <li>
                                <a href="content-inpage.php" class="list__link">Buitenlandse opleiding</a>
                                <p>Studiefinanciering voor opleidingen buiten Nederland</p>
                            </li>
                            <li>
                                <a href="content-inpage.php" class="list__link">Financiering voor leraren</a>
                                <p>Verschillende mogelijkheden voor het financieren van een lerarenopleiding</p>
                            </li>
                            <li>
                                <a href="content-inpage.php" class="list__link">Levenlanglerenkrediet</a>
                                <p>Iedereen tot 55 jaar kan geld lenen voor een opleiding</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                <div class="content-background">
                    <div class="content">
                        <h2>Nu belangrijk</h2>
                        <p>Hieronder ziet u op welke datums u gegevens moet aanleveren aan DUO, of wanneer er gegevens van DUO beschikbaar zijn.</p>
                        <ol class="list list--timeline">
                            <li class="list__item">
                                <p>
                                    <strong><time>1 juni</time></strong><br>
                                    DUO stelt mutatiestop in
                                </p>
                            </li>
                            <li class="list__item">
                                <p>
                                    <strong><time>16 juni</time></strong><br>
                                    Normering 1e tijdvak bekend
                                </p>
                            </li>
                            <li class="list__item">
                                <p>
                                    <strong><time>20 juni</time></strong> <span class="label label--donkergeel">DEADLINE</span><br>
                                    Aanmelden kandidaten 2e tijdvak
                                </p>
                            </li>
                            <li class="list__item">
                                <p>
                                    <strong><time>22 juni</time></strong> <span class="label label--donkergeel">DEADLINE</span><br>
                                    Betaaldatum bekostiging
                                </p>
                            </li>
                            <li class="list__item">
                                <p>
                                    <strong><time>30 juni</time></strong><br>
                                    CE-resultaten 1e tijdvak
                                </p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="theme--large-padding">
            <header class="row">
                <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                    <div class="content">
                        <a href="../../" class="backlink">Beveiligde omgeving voor Hans Joosten</a>
                        <section class="content__header">
                            <h1>Erkende opleidingen geven</h1>
                            <p>Beantwoord onderstaande vragen zodat we u de juiste informatie en het juiste formulier kunnen aanbieden.</p>
                        </section>
                    </div>
                </div>
            </header>

            <div class="row">
                <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1 col-md-12">
                    <div class="content-background">
                        <div class="content">
                            <form action="#">
                                <fieldset class="input">
                                    <legend>Heeft uw organisatie een BRIN-nummer?</legend>
                                    <span class="input__hint" id="hint_name">Heeft u eerder zaken gedaan met DUO? Dan bent u waarschijnlijk geregistreerd in het Basisregister Instellingen (BRIN). U kunt <a href>zoeken in ons register</a> of dit het geval is.</span>
                                    <div class="input__group input__group--radio">
                                        <input type="radio" name="optradio" id="opt100" class="input__control input__control--radio">
                                        <label class="input__label input__label--radio" for="opt100">Ja</label>
                                    </div>
                                    <div class="input__group input__group--radio">
                                        <input type="radio" name="optradio" id="opt101" class="input__control input__control--radio">
                                        <label class="input__label input__label--radio" for="opt101">Nee</label>
                                    </div>
                                </fieldset>
                            </form>

                            <p><a href="#" class="btn btn--primary"><span>Verder</span></a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1 col-md-12">
                    <div class="content">
                        <div class="edit-section">
                            <h2>Vorige vragen</h2>
                            <a href="#">Begin opnieuw</a>
                        </div>

                        <ul class="definition-list">
                            <li class="definition-list__item">
                                <a class="definition-list__item__edit-button" href="#">Wijzig</a>
                                <div class="definition-list__item__title">Welk onderwijs wilt u geven?</div>
                                <div class="definition-list__item__description">
                                    <p>Overige educatie (Nederlandse taal en rekenen)</p>
                                </div>
                            </li>
                            <li class="definition-list__item">
                                <a class="definition-list__item__edit-button" href="#">Wijzig</a>
                                <div class="definition-list__item__title">Welk onderwijs wilt u geven?</div>
                                <div class="definition-list__item__description">
                                    <p>Overige educatie (Nederlandse taal en rekenen)Welk onderwijs wilt u geven?Welk onderwijs wilt u geven?Welk onderwijs wilt u geven?Welk onderwijs wilt u geven?Welk onderwijs wilt u geven?</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

<div class="debug-container" aria-hidden="true">
    <div class="container">
        <div class="row">
            <div class="debug">
                <input type="checkbox" />

                <div class="col-xs-1">
                    <div>
                        1
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="col-md-dash-left">
                        2
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="col-lg-dash-left col-lg-dash-list">
                        3
                    </div>
                </div>
                <div class="col-xs-1">
                    <div>
                        4
                    </div>
                </div>
                <div class="col-xs-1">
                    <div>
                        5
                    </div>
                </div>
                <div class="col-xs-1">
                    <div>
                        6
                    </div>
                </div>
                <div class="col-xs-1">
                    <div>
                        7
                    </div>
                </div>
                <div class="col-xs-1">
                    <div>
                        8
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="col-lg-dash-right">
                        9
                    </div>
                </div>
                <div class="col-xs-1">
                    <div>
                        10
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="col-md-dash-right">
                        11
                    </div>
                </div>
                <div class="col-xs-1">
                    <div>
                        12
                    </div>
                </div>

                <div class="guide--center"></div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="footer__content background--hemelblauw">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <span class="footer__header">NL Design System 0.0.1</span>

                    <ul class="list list--links footer__nav">
                        <li><a href="/changelog">Changelog</a></li>
                        <li><a href="/upgrade">Upgraden</a></li>
                    </ul>
                </div>

                <div class="col-xs-4">
                    <span class="footer__header">Bijdragen</span>
                    <ul class="list list--links footer__nav">
                        <li><a rel="external" href="">Backlog</a></li>
                        <li><a rel="external" href="https://git.dfront.rijkscloud.nl/ux/nl-design-system/">GitLab</a></li>
                    </ul>
                </div>

                <div class="col-xs-4">
                    <span class="footer__header">Contact</span>
                    <ul class="list list--links footer__nav">
                        <li><a href="">Stuur een e-mail</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>