<header class="header" role="banner">
    <div class="header-logo">
        <a href="@Link" title="@Title">
            @((MarkupString)Text)
            <span class="screenreader-only">@((MarkupString)LinkScreenReaderDescription)</span>
        </a>
    </div>
</header>